[2014-05-30 07:35] alonswartz opened #1 "support self-replication"
### Rational
- Potential BitKey users don't have the know-how to  create their own copy securely (e.g., download image, verify GPG signature, burn it on CD or USB)
- Creating a secure bootable copy of an operating system from an   insecure/compromised operating system is inherently insecure.
### Desired functionality
- Self replicate on CD if CD burner is available.
- Self replicate on USB.
### Re

[2014-06-15 08:50] alonswartz opened #2 "add generic qrcode generator"
### Rational

Being able to generate qrcodes on the fly would add a communication channel for transferring data (via airgap) without exposing possible covert secret data compromise (via usb).
### Exemplary use case
- Unsigned transaction is transferred to `cold-offline`, communication channel is severed.
- Private key made available, transaction is signed.
- Signed transaction is encoded as qrcode

[2014-06-15 08:59] #2 closed, assigned to alonswartz

[2014-06-15 09:37] alonswartz opened #3 "electrum-patches not taking effect"
The electrum patch introduced in https://github.com/bitkey/bitkey/commit/0e1f7eec3936dc7b7ac79388c91176a3ea8988c1 is not taking effect.

[2014-06-15 09:40] #3 closed, assigned to alonswartz

[2014-06-16 11:30] alonswartz opened #4 "upgrade electrum to latest release (1.9.8)"
https://electrum.org/download.html
https://github.com/spesmilo/electrum/blob/1.9.8/RELEASE-NOTES

[2014-06-16 11:34] #4 closed, assigned to alonswartz

[2014-07-08 13:28] alonswartz opened #5 "add support for bit2factor (implementation of BIP38)"
Suggested by `Chris B` via email.
### Resources
- https://bit2factor.org
- https://github.com/mannkind/bit2factor.org
- https://github.com/bitcoin/bips/blob/master/bip-0038.mediawiki

[2014-07-19 05:12] dscoduc opened #6 "Source code does not compile"
I am unable to compile the source code due to what appears to be missing repositories.  Can you confirm that what's available on GitHub can be compiled?

[2014-07-30 15:28] UnoMamiko opened #7 "Feature request: memory-only wallets"
User enters a seed, wallet is created in memory only, never written to disk. User closes electrum, the wallet disappears. It's a brain wallet.

I just [posted this request to the electrum issue tracker](https://github.com/spesmilo/electrum/issues/781). Don't know whether they will see it as an issue that should be handled by the app (electrum) or not. There is the argument that things like this sh

[2014-07-31 19:30] UnoMamiko opened #8 "Cold-offline question"
What happens when you boot into cold-offline if the hardware itself has online capability (like WiFi)? Does bitkey actively disallow communication over the internet? How?

[2014-07-31 19:34] UnoMamiko opened #9 "Why Chromium"
And not Firefox? Or, better yet, the Tor Browser?

[2015-03-06 23:34] ligneb opened #10 "Any way to change keyboard layout?"
It would be nice to be able to chose a keyboard layout other than the US default.

[2015-03-15 21:21] JedMeister commented on #10
Yes totally fair point.

Hopefully [this](http://www.turnkeylinux.org/docs/non-us-keyboard) should help you out...

[2015-04-21 17:49] KeithNel opened #11 "Feature Request: pz7ip package for bulk wallet compression with aes256 encryption"
The p7zip package (http://p7zip.sourceforge.net/)  provides a simple and cross platform method for compression with AES256 encryption.

Use case:  Bulk wallet compression with aes256 encryption, or any other wallet files that are to be transported.

Of course it is already possible to do this in with bzip then openssl, p7zip only provides slightly more convienience especially for those that must r

[2015-05-21 06:56] JedMeister commented on #11
It looks like it's in the [Debian repos](https://packages.debian.org/search?suite=jessie&searchon=names&keywords=p7zip) so you could just add it to the plan (or more correctly one of the plans...). Actually the [apps plan](https://github.com/bitkey/bitkey/blob/master/plan/apps) looks like the one...

I'm not sure if anyone has tested building it on Jessie yet, but the v14.0RC1 TKLDev is available

[2016-01-22 18:54] tbergeron opened #12 "any news of this project? electrum 2.x?"
Hi!

I just found out about BitKey and been using it for over a week. So far it works as expected, I'm blown away that there's not much popularity in that kind of project knowing how infected the common PC is.

I'd like to know:

1) is the project is still alive and in development?
2) any intentions of upgrading to Electrum 2.x?
3) would you still suggest using BitKey to be your main bitcoin walle

[2016-01-22 22:33] JedMeister commented on #12
Hi,

I am not very familiar with BitKey (or Bitcoin in general) but I work with the devs (Alon & Liraz). We do [TurnKey Linux](https://www.turnkeylinux.org/).

Both Alon and Liraz use Bitcoins and this was a side project for them. There has been a ton of work going on within TurnKey so BitKey really hasn't got the love it deserves.

To explicitly answer your questions:
1) yes but it is currently a

[2016-01-25 20:00] tbergeron commented on #12
Hi and thanks for your quick answer!

I totally understand that BitKey isn't TurnKey's main project. I just wondered if the project was seen as stable enough to be used in real life scenarios, glad to read that it is even if it's not updated which is fine IMO. Sometimes updates fix bugs and create new ones hehe

I'll keep using it and will report if anything bad happens! :+1:

Thanks again!

[2016-01-25 20:00] #12 closed

[2016-02-14 17:11] wzrdtales opened #13 "Update Electrum (1.9.8 is discontinued)"
Electrum 1.9.8 is discontinued and most of the available remote servers do not accept any queries from it anymore.
This renders bitkey useless, before I start on a PR instead of building a complete new thing I wanted to ask: Is this project still maintained? Seems to be pretty dead though, waiting 1 week from now and then I am going to mark this as dead.

thank you

[2016-02-14 22:56] JedMeister commented on #13
BitKey is not abandoned per se, just not getting anywhere near the love that it deserves... It was a bit of a side project for Alon (@alonswartz)  & Liraz (@lirazsiri) (the co-founders of [TurnKey Linux](https://www.turnkeylinux.org/)) and after it's initial release, they haven't had much time to get back to it.

It really needs at least a basic update to Debian Jessie base so that it will build s

[2016-04-20 00:59] JedMeister opened #14 "Update BitKey to v14.x/Debian Jessie base"
As the title suggests, BitKey needs updating to the v14.x (Debian Jessie) TurnKey Linux base. See entry on main TurnKey Tracker: https://github.com/turnkeylinux/tracker/issues/614

[2016-04-21 23:08] #8 closed

[2016-04-21 23:09] #9 closed

[2016-04-21 23:09] JedMeister commented on #10
Actually I'm going to reopen this as a feature request to make changing keyboard easier...

[2016-06-08 23:58] JedMeister opened #16 "An easy way for users to rebuild the ISO with security updates pre-installed."
The subject says it all!

[2016-06-15 09:26] JedMeister commented on #14
Todos prior to release:

 - [ ] update browser defaults (so that they work as they used to) https://github.com/bitkey/bitkey/pull/15#discussion-diff-66208857 & https://github.com/bitkey/bitkey/pull/15#discussion-diff-66209161
 - [ ] reinstate firstboot secupdates https://github.com/bitkey/bitkey/pull/15#discussion-diff-66208901
 - [ ] some mechanism to check the 9non-Debian) included software http

[2016-06-15 09:34] JedMeister commented on #11
Closed by https://github.com/bitkey/bitkey/commit/c96485b9bfb752a102b5d8728572a82b5b9f7a0f

[2016-06-15 09:34] #11 closed

[2016-07-06 20:06] aidecoe commented on #6
I am trying to build latest bitkey from sources. I get:

[code]

which seems to be related to this bug. Do I need somehow point to these repositories?

[2016-07-07 03:11] JedMeister commented on #6
Hi @aidecoe
Thanks for the nudge. It has only relatively recently been updated and we haven't uploaded the newer packages to our archive yet. I will get onto Alon to upload the Jessie packages ASAP.

[2016-07-07 03:14] JedMeister opened #17 "v14.x build needs Chromium prefs updated for current Chromium version"
As per discussion here: https://github.com/bitkey/bitkey/pull/15#discussion-diff-66208857

And here: https://github.com/bitkey/bitkey/pull/15#discussion-diff-66209161

[2016-07-07 03:16] JedMeister opened #18 "Need to double check included source code is legit"
See discussion: https://github.com/bitkey/bitkey/pull/15#discussion-diff-66209450

[2016-07-07 20:20] aidecoe commented on #6
Thanks for prompt reply!

[2016-08-04 18:13] rkovacevic opened #20 "Question: electrum patch"
I assume this is a debian patch, but is there any documentation somewhere about what it does, and why it is needed?

[2016-08-04 21:35] JedMeister commented on #20
It just tweaks electrum. You can view exactly what it does here on GitHub: https://github.com/heneault/bitkey/blob/master/overlay/usr/local/src/electrum.patch

The lines in red are removed, the lines in green are added.

[2016-08-04 21:44] rkovacevic commented on #20
Right, but I was hoping for a quick explanation of what it does, so I don't have to go dig through electrum source.

[2016-08-04 22:19] JedMeister commented on #20
Apologies if my answer wasn't very helpful.

Alon & Liraz did the initial BitKey development and I wasn't involved with that. I have only supervised and provided feedback on the most recent maintenance update (plus some testing). Also please note that Alon (or Liraz) will be doing a final code review prior to release (that's why we haven't yet built and released it - they're both tied up with othe

[2016-08-04 22:32] rkovacevic commented on #20
Excellent, I think it would be great to document it, so that casual users can easily audit. Thx.

[2017-01-11 15:18] lirazsiri commented on #18
Done.

[2017-01-11 15:18] #18 closed

[2017-01-11 15:21] lirazsiri commented on #20
Jeremy has it about right. The patch modifies Electrum just a bit so that the usage scenario we're trying to optimize for has less room for error. Otherwise if you choose the wrong option, things could break.

[2017-01-11 15:22] lirazsiri commented on #16
You mean other than rebuilding from source?

[2017-01-11 15:23] lirazsiri commented on #6
For the record, building from source is currently working just fine.

[2017-01-11 15:25] lirazsiri commented on #14
I verified the non Debian software manually. Doing this automatically would be better but more work would be required. I'm going to push out a new version soon.

[2017-01-11 15:26] lirazsiri commented on #13
This has been fixed and a new version will be pushed out soon.

[2017-01-11 15:26] #13 closed

[2017-01-12 05:25] JedMeister commented on #16
Yes. Sorry it wasn't quite as clear as I thought!

I mean it would be cool to be able to launch BitKey in such a way that it could install updates in a permanent way (rather than just in the live filesystem - which is lost on reboot).

Although TBH perhaps I'm missing something?

[2017-01-12 05:26] JedMeister commented on #6
Oops, I should have come back and closed this after Alon uploaded the updated packages to the TurnKey repo...

[2017-01-12 05:26] #6 closed

[2017-01-12 12:25] lirazsiri commented on #7
Easiest way to store wallet in memory is to launch electrum from a terminal like this:

[code]

Then restore the wallet and import the private key. I documented this in the README.

[2017-01-12 12:25] #7 closed

[2017-01-13 00:35] lirazsiri commented on #16
From a security standpoint I'm not sure the pros outweigh the cons.
Permanent updates would effect offline modes as well, potentially breaking
the airgap. Also, persistence opens the door to persistent backdoors in
case of successful exploitation.

To mitigate the risks maybe persistent package updates go to an overlay
which is only activated by the online modes. That way the offline mode
stays re

[2017-01-17 03:25] JedMeister commented on #16
Great point Liraz. I think your suggestion of a possible way to implement my idea, but still ensure that the airgap is honoured while offline is a good one.

Certainly not a priority, but would be cool IMO.

[2017-01-22 14:01] #14 closed

[2017-01-22 14:01] #17 closed

[2017-01-22 14:03] lirazsiri commented on #5
bitaddress is also an implementation of BIP38, at least in terms of generating an encrypted paper wallet. bit2factor code is unmaintained, and there doesn't seem to be a terrible amount of interest in the use case it supports, so adding this to BitKey may do more harm than good.

[2017-01-22 14:03] #5 closed

[2017-01-25 17:40] lirazsiri opened #21 "Add Ian Coleman's BIP39 mnemonic code converter tool"
Planning on adding this tool to the next version of BitKey:
https://iancoleman.github.io/bip39/

Comments welcome.

Rational:

- Supports various methods of generating HD wallet keys
- Supports manual entropy entry via dice rolls, a stack of cards or hexademical, with suitable warnings.
- Manual entropy mode embeds an entropy measuring tool, is deterministic and would not be vulnerable to a broken

[2017-01-25 17:47] lirazsiri opened #22 "Use WarpWallet with BIP39 code generation support"
There's a merge request for Warpwallet that adds BIP39 support. https://github.com/keybase/warpwallet/pull/22

If by the next release WarpWallet hasn't merged this, consider using this branch anyway. It would integrate nicely with Ian Coleman's Mnemonic Code generator tool and solve the privacy issues with address re-use.

[2017-01-25 17:54] lirazsiri opened #23 "suggest feeding Warpwallet it's on tail in the documentation"
Imagine there's a Warpwallet eating 250M node botnet monster out there hunting for your wallet. You thought you picked a good passphrase and you thought nobody knew you were holding on to a large stash of Bitcoins, but it turns out your assumptions were wrong.

You could get a little bit of extra security by generating a Warpwallet and then feeding the private key into another round of Warpwallet,

[2017-01-25 17:56] lirazsiri opened #24 "Point donation address to EFF instead"
Encourage contributions to the Electronic Frontier Foundation on the bitkey.io instead of the existing donation address.

[2017-01-25 19:26] lirazsiri opened #25 "Tails-like TOR support for hot-online mode"
We could add quite a bit of privacy protection to BitKey hot-online mode by routing all network activity through Tails.

[2017-01-25 23:33] dabura667 commented on #22
s/BIP39/mnemonic/

Without a guarantee of minimum 128 bits of entropy the feature does not fulfill BIP39.

"BIP39 import compatible mnemonics" would also be fine.

[2017-01-27 09:52] lirazsiri commented on #22
Fair point, I changed the title. I think it would have been better to separate the entropy gathering specification to another BIP.  You can verify conformity to mnemonics and checksums, but it's really hard to verify how much entropy you're getting out of a blackbox RNG. You can hope your faithful computer is running a faithfully compiled binary of a CSPRNG who's source code you audited to be cryp

[2017-01-27 12:05] lirazsiri opened #26 "Recommend using verifiable entropy source for high risk wallets"
Short of throwing unloaded dice yourself and generating the key using a deterministic process that you can verify has been executed faithfully there's no way to guarantee you're getting N bits of entropy seeding your wallet.

Conclusion: we should change the documentation and/or workflow for BitKey to recommend using a verifiable entropy of high quality for high risk wallets (e.g., long-term offli

[2017-01-27 12:12] lirazsiri commented on #22
@dabura667 Your comment illustrates a problem with BIP39, or at least your interpretation of it. There is no well defined way to require 128 bits of entropy.

I added a comment to the BIP39 proposal here:

https://github.com/bitcoin/bips/wiki/Comments:BIP-0039

I and also opened a related BitKey feature request regarding recommending deterministic wallet creation:

https://github.com/bitkey/bitkey

[2017-01-27 12:14] lirazsiri commented on #21
Related issue:

https://github.com/bitkey/bitkey/issues/26

[2017-02-02 22:00] JedMeister opened #27 "Add BitKey to Debian Census"
As per [TurnKey's listing](https://wiki.debian.org/Derivatives/Census/TurnKeyLinux) on the [Debian Derivatives Census](https://wiki.debian.org/Derivatives/Census), BitKey needs a separate listing.

See invitation [here](https://lists.debian.org/debian-derivatives/2017/01/msg00010.html). Cross posted TurnKey issue [here](https://github.com/turnkeylinux/tracker/issues/773).

[2017-02-15 18:01] lirazsiri opened #28 "Add steghide (feature request submitted by email)"
Consider adding steghide to be used in the console. Some people may want to embed private keys into audio or image files.

[2017-02-15 18:01] lirazsiri commented on #10
Another user asked for the ability to change to Spanish keyboard layout after we released BitKey 14.1

[2017-02-15 18:03] lirazsiri opened #29 "Add support for onscreen keyboard?"
Email submitted feature request: adding support for onscreen keyboard may reduce vulnerability to hardware keyloggers and find special characters that are not available on the standard English default layout.

[2017-03-26 03:23] supra411 opened #31 "Newbie question"
Hi:

Sorry, I tried googling it, but I can't seem to get bitkey to run on my macbook. It works on my windows pc. I'm booting it with fat32 file format.

Thanks!

[2017-04-12 19:33] scottj97 opened #32 "bitkey-data/cold-offline is highly compressible; should not be"
My Electrum wallet is stored on a USB key with filename bitkey-data/cold-offline. This is an encrypted volume of approximately 5MB.

A proper encrypted volume should be (more or less) indistinguishable from totally random data and therefore incompressible. But zip can compress this cold-offline file by approximately 94%.

Isn't this bad? Doesn't this make it easier for an attacker to decrypt the v

[2017-04-19 09:40] JedMeister commented on #31
Hi,

TBH, I'm not totally sure, but my guess is that it's to do with the UEFI BIOS on the Mac. From what I've heard, our installer doesn't properly support UEFI. We hope to fix that within the next few months.

[2017-05-05 08:28] lirazsiri commented on #32
Hi Scott. Good question!

 No, it doesn't make it any easier to decrypt your wallet. It's just a tiny bit inefficient because we created a bigger loopback filesystem than we  need and zeroed it out with dd, which is why it compresses so well. If we had initialized that file with /dev/urandom it wouldn't compress at all, but you wouldn't get any better security for this use case. Being compressible

[2017-05-05 08:28] #32 closed

[2017-05-05 08:32] lirazsiri opened #33 "Change docs according to RyanC's suggestions"
RyanC (Brainflayer author) made a few suggestions privately on how to improve the BitKey docs which I will implement in the next batch. Thanks RyanC!:

1. Remove the bit about, or explicitly call out that zxcvbn should not be
trusted to evaluate passphrases. It's designed to evaluate passwords,
but fails badly on passphrases.

2. Link to diceware, or better yet the EFF's new and improved version:

[2017-05-07 20:48] lostintraslation opened #34 "latest version of electrum to enable hard wallet"
Hello,
I´d like to see how to use hard wallet in combination with bitkey.
Electrum in the latest version on windows platform allow this scenario.
when do you plan to update electrum version you install on bitkey?

[2017-05-08 12:48] lirazsiri commented on #34
Looking into hard wallet support this for the next version! Just got me
some Trezors for testing.

On Sun, May 7, 2017 at 11:48 PM, lostintraslation <notifications@github.com>
wrote:

[2017-05-13 11:54] bubble501 opened #35 "E. Package 'xresprobe' has no installation candidate"
When I build it from source according the instruction in document, i met the error:
E. Package 'xresprobe' has no installation candidate.

any idea of how to fix this?

[2017-05-13 13:50] #35 closed

[2017-05-15 06:47] JedMeister commented on #35
Hi @bubble501

I see that you've closed this. Is that because you worked it out? Or did you just close it accidentally?

[2017-05-15 12:28] bubble501 commented on #35
Hello @JedMeister

I had worked it out, I met this problem when i use this [vagrant
 box ](https://vagrantcloud.com/rgoldman/boxes/tkldev).  I found that that this box has been created 1 year ago, so I try the latest tkldev image directly using virtualbox and it works perfectly. Thanks for the awesome works.

[2017-05-15 21:39] JedMeister commented on #35
Ah ha! We have been meaning to make official vagrant boxes, but something more important always seems to get in the way...

Glad you got it sorted! :smile:

[2017-05-16 06:29] lostintraslation opened #36 "Stuck on boot"
I am randomly having issue on boot.
It stucks on inithook trying to set alert email target.

thing is that the pop up dialog to insert email is overwritten by boot log items and even if I try to type I can´t.
Since I am running bitkey from a read only USB I do not want to insert any info on boot.

Please advise

[2017-05-22 11:49] #29 closed

[2017-05-22 23:58] JedMeister commented on #36
The log message pollution sucks (it's a well known issue, although seems to be worse in some specific scenarios), but you should still be able to type and hit enter (even though you may not be able to see what you've written).

Alternatively, if you are ok with removing that step, you could just make that particular inithook non-executable. E.g. `chmod -x /usr/lib/inithooks/firstboot.d/xxname-of-i

[2017-06-05 23:09] hjfreyer opened #37 "BIP44 support?"
As far as I can tell, none of the installed apps support [BIP44 wallets](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki). Thoughts?

[2017-06-07 12:28] l00pz123 opened #38 "Support for other currencies"
Would it be possible to implement support for other currencies like ethereum, litecoin, monero, dash, ripple ?

[2017-06-07 12:57] lirazsiri commented on #38
Yeah of course it should be. We just need to scout out the best open source
software for that. Would be interested in getting feedback on that from the
community. If I'm not mistaken creating paper wallets for all these
currencies is already supported.

On 7 Jun 2017 3:28 pm, "l00pz123" <notifications@github.com> wrote:

Would it be possible to implement support for other currencies like
ethereum,

[2017-06-13 01:43] dukewins opened #39 "Bitkey compile fails from SSH and from console"
README.rst says:
    BitKey is built with TKLDev, the TurnKey GNU/Linux build system.
  1. Deploy TKLDev (e.g., as a local VM)
  2. SSH into TKLDev and clone bitkey git repo:
    ssh tkldev
    cd products
    git-clone https://github.com/bitkey/bitkey
    cd bitkey
    make

Using a VirtualBox (5.0.10) host in Windows 7, I imported
turnkey-tkldev-14.1-jessie-amd64.ova
with a live internet connect

[2017-06-13 03:25] JedMeister commented on #39
Hmm, sounds weird... Your initial try using VirtualBox should have worked. I'll launch a new TKLDev and see if I can recreate the issue. Also FWIW, if you're running windows, then [PuTTY](https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html) is probably the best option for SSH.

Your second failure on openSUSE is to be expected. TKLDev contains lots of bits and pieces and it looks like y

[2017-06-13 04:09] dukewins commented on #39
Thanks very much for the quick response!  I don't understand why an openSUSE **host** will change how your TKLDev **guest** works inside its own VM.  Maybe I didn't make it clear enough that I again imported your turnkey-tkldev-14.1-jessie-amd64.ova into a VM, the second time hosted by openSUSE.  I was surprised that I got a different error, and that the other directories under /turnkey/fab were p

[2017-06-13 04:24] JedMeister commented on #39
Sorry, I misunderstood... I thought you were trying to use openSUSE as the base...

You are right, it shouldn't matter what OS the host is using, so long as it supports 64 bit guest OS it should just work...

FWIW I just launched a fresh TKLDev. I completed the inithooks normally (including installing sec updates) and then SSHed in (it shouldn't matter but FWIW I use Debian as my desktop). I then

[2017-06-13 05:34] dukewins commented on #39
You solved it!  In the openSUSE host, I ran **tkldev-setup** and saw scripts I have not seen before, then ran **make** and it completed normally, resulting in a _product.iso_ with a length of 544210944.

Thanks again!  I consider this issue closed, but I won't press the "Close and comment" button because I want to experiment some more and see if I can identify what I was doing that caused those er

[2017-06-13 06:38] JedMeister commented on #39
Great news. I'll close it, but we can reopen it (or worst case open a new one).

[2017-06-13 06:38] #39 closed, assigned to nobody

[2017-06-14 14:09] ghost commented on #38
There's already an electrum litecoin client - https://electrum-ltc.org/
Would that be easy to implement, leveraging the wrapper we already have now?

[2017-06-20 20:46] richsmith92 commented on #21
@lirazsiri Do I understand the usecase right?

1. I come up with a passphrase which I can easily remember but complex enough to bruteforce
2. Salt it with my email and with warpwallet create the private key
3. Use it as entropy for Coleman's `bip39` tool and obtain the seed

Now I have a seed from BIP39 wordlist (not necessarily 12 words). With Electrum I can recover the wallet from it.

Even bett

[2017-06-23 12:26] l00pz123 commented on #38
What about cooperation with coinomi? They are about to roll out their multi-currency wallet for linux.
It is extremely solid product.

[2017-06-24 15:31] cisba opened #40 "Support 32bit arch"
An old notebook is a perfect cold storage.
Is there any reason to not publish also a 32bit iso?

[2017-06-25 11:10] lirazsiri commented on #38
An open source multi currency wallet could be the way to go. Certainly
better than adding of adding a ton of different apps for each currency

On Jun 23, 2017 3:26 PM, "l00pz123" <notifications@github.com> wrote:

[2017-06-25 11:12] lirazsiri commented on #21
Yes that's exactly the use case. Both the salt and a passphrase are needed
to recover the HD seed

On Jun 20, 2017 11:46 PM, "Alexey Karakulov" <notifications@github.com>
wrote:

[2017-06-25 11:15] lirazsiri commented on #40
You just have to rebuild everything. More work. These days even old
notebooks support 64-bit. But I guess that depends on your definition of
old. It would be nice to have more architectures supported including arm in
the Raspberry Pi.

On Jun 24, 2017 6:31 PM, "Emanuele Cisbani" <notifications@github.com>
wrote:

An old notebook is a perfect cold storage.
Is there any reason to not publish also a

[2017-06-25 22:32] robertkarl opened #41 "Adding Bitcoin Core to BitKey"
Bitcoin Core wallets can also be used for offline, air-gapped use. The relatively high quality and correctness standard for core make it a reasonable choice for inclusion in BitKey. Are there philosophical or practical reasons why core is not here?

I copied the bitcoin binaries to a fork of BitKey (commit [here](https://github.com/robertkarl/ABC-Linux/commit/d85f54fff3f25352be07c4e145306b71249b43

[2017-06-27 11:50] l00pz123 commented on #38
you could take a look at latest beta:
https://beta.coinomi.com/desktopinstallers/Coinomi.deb

Beta testers and the team: https://coinomi.slack.com

[2017-06-27 16:51] lirazsiri commented on #38
Going to need to build this myself .  But I can't find the source code for
the desktop version. Could you send me a link to that?

On Jun 27, 2017 2:50 PM, "l00pz123" <notifications@github.com> wrote:

[2017-06-27 16:59] lirazsiri commented on #41
We're big supporters of Bitcoin core. There are certainly no philosophical
reasons not to include it within bitkey assuming the workflow for
supporting offline transactions is usable enough.

Since Bitcoin core is the canonical Bitcoin implementation, with the
largest number of developers, and a reproducible deterministic build, the
added weight to the ISO would be worth it IMHO.

So we just need

[2017-06-30 15:11] jimbursch commented on #38
If I can get funding for you, can you build a version of Bitkey for Dash? Or, if you are building a multi-currency version, would it help if you got funding?

[2017-07-02 08:04] lirazsiri commented on #38
Whether or not Dash is included in a multi currency version primarily
depends on the support in the underlying tools. We'd have to take a look at
what the state of that is to decide whether it makes sense to include Dash
in a multi currency version or do a Bitkey version focused on Dash and
related tools.

Anyhow, if you could can get funding, we would post bounties to develop a
Bitkey version for

[2017-07-05 04:28] DFF-fred commented on #38
interested in Bitkey for other things than Bitcoin I was looking at Coinomi and found this https://github.com/Coinomi/coinomi.github.io/issues/5 which indirectly says it is not open source.

[2017-07-05 05:17] JedMeister commented on #38
Thanks @DFF-fred - I just dug a bit deeper and I think I've found their licence. It's called the "Coinomi Software License" and the news for BitKey isn't good:

source: https://github.com/Coinomi/coinomi-android/blob/master/COPYING

So it seems clear that the only way that we could legally include Coinomi is if end users build it themselves (with Coinimi downloaded and installed at build time). Al

[2017-07-25 10:44] handsomeNiceGuy commented on #10
Hi guys, I have a question concerning non-us keyboard-layout.

I followed the turnkey tutorial @JedMeister linked to change the layout to German in my turnkey-linux vbox. After that, layout was correct and set in the file /etc/default/keyboard: XKBLAYOUT="de"

Then I ran make in products/bitkey to generate the bitkey iso. But when I booted the iso, keyboard settings were English again and file /et

[2017-07-27 04:57] JedMeister commented on #10
The ISO is build with TKLDev, but it uses specific bitkey build code. If you want to tweak the resulting ISO, you'll need to tweak the appropriate bitkey buildcode (i.e. in `products/bitkey`).

There are 2 different ways of doing what you are after.

You can either script it (it needs to be non-interactive) and add it to a `conf.d` script (either one of the existing ones [here](https://github.com/

[2017-07-29 02:12] bogomip2k commented on #31
I've run into this same issue.

[2017-07-29 02:12] bogomip2k commented on #34
I've run into this same issue.  However, I'd like to be able to use the latest version of electrum to test everything using testnet (which is supported in the latest version of electrum)

[2017-08-05 15:39] jimbursch commented on #38
I've started a discussion at Dash Forum about funding a Dash version of BitKey:
https://www.dash.org/forum/threads/poor-mans-hardware-wallet-bitkey-port-to-dash.16150/

There seems to be support for this idea. It was suggested by @lirazsiri that a bounty be posted to develop a Dash version. What would be a good amount for a bounty? In addition to funding the dev, we would also fund ongoing support

[2017-08-07 00:30] flesler commented on #34
Is it possible to update the electrum version manually? I'm guessing it is but it's important to do it right (and I'm far from savvy on this matter). Do you think you could document it on the README? Also maybe how to add other currencies manually if not too complex

[2017-08-07 00:45] JedMeister commented on #34
I don't see any reason why you couldn't. You can see how it's originally installed [here](https://github.com/bitkey/bitkey/blob/master/conf.d/electrum). As you can see, it's just a decompressed tarball, with is then patched and finally installed with `python setup.py install`.

TBH, I'm not particularly experienced with Bitkey so can't speak to whether or not the patch will cleanly apply, nor whet

[2017-08-07 14:58] bogomip2k commented on #34
I've updated it to 2.9.0.  I'm generating a pull request shortly.  I was kinda confused by it because frankly, you don't really need to install it from the source code.  You can just install the Debian package and it all appears to work (no patching; no install of dependencies; etc.)

________________________________
From: Jeremy Davis <notifications@github.com>
Sent: Sunday, August 6, 2017 5:45 P

[2017-08-07 15:14] flesler commented on #34
@bogomip2k did you do it within bitkey or downloaded the deb from your regular computer, copied and installed offline? Can you link to the deb file btw? I'm seeing only older versions

[2017-08-08 00:38] bogomip2k commented on #34
I have modified bitkey itself. I am going to submit the pull request so it will get baked into the next minor release.

On Aug 7, 2017, at 8:14 AM, Ariel Flesler <notifications@github.com<mailto:notifications@github.com>> wrote:

@bogomip2k<https://github.com/bogomip2k> did you do it within bitkey or downloaded the deb from your regular computer, copied and installed offline? Can you link to the d

[2017-08-11 17:40] flesler opened #43 "Support an cold-offline-only build"
While useful, I think the best use for this is to only use the cold-offline mode to sign transactions. I think it'd be great to be able to have a build that automatically starts into this mode and that has no way to mistakenly (or maliciously) go online.

[2017-08-11 17:45] flesler opened #44 "Use same USB for BitKey and encrypted data"
I tried booting BitKey once and was a bit confused about the usb stick switching.

I re-read [the docs](https://github.com/bitkey/bitkey#generating-unsigned-transaction-step) and still not clear if the encrypted data should be stored on the same usb stick as bitkey.

I can see a good reason not to, mainly easier bitkey version upgrade, maybe also backup just the directory instead of the whole thin

[2017-08-11 17:48] flesler commented on #44
Bonus question, best/nicer way/place to copy additional stuff into the USB stick? Things like web-based wallet generators or electrum-ltc

[2017-08-15 10:39] daniel-lima commented on #38
It's far from being the full requested feature, but a few days ago I added some cold wallet/paper wallet generators: https://github.com/bitkey/bitkey/pull/42

Regards,

Daniel.

[2017-08-18 19:27] philippeowagner commented on #10
+1

[2017-08-27 01:22] tuberculo commented on #40
I have two 32-bit netbooks, so a 32-bit build would be great for me.

[2017-08-27 14:55] zanderisrael opened #46 "SEGWIT supported electrum wallet."
Please update perform an update to bitkey, that adds a newer version of electrum.
I can help if the main devs don't have time...

[2017-08-30 00:56] itsjoelee commented on #38
Hi, could someone please instruct me on how to use BitKey app on my iPhone. I downloaded and installed the app, I sent my bitcoin to the address of the wallet, now I can see the amount of bitcoin I have in there but I don't know how to move it to another address. Could someone please give me instructions on how I would go about this? Thanks

[2017-09-04 01:29] secme commented on #38
How about the Encompass electrum fork, seems like it'd fit right in; https://github.com/mazaclub/encompass

[2017-09-05 08:21] DFF-fred commented on #38
Hi again! While encompass seemed like a nice option, this time it just seems it is no longer maintained and would require too much work to bring it into a usable state. See https://github.com/mazaclub/encompass/issues/152#issuecomment-304510839 for more details.

[2017-09-09 10:25] benrhughes opened #47 "Public key can't be imported into non-Bitkey Electrum"
Edit: appears to be an issue with Electrum - I've reproduce it in non-Bitkey scenarios.

[2017-09-09 13:52] #47 closed, assigned to nobody

[2017-09-11 16:09] westonal commented on #37
IIRC, the electrum wallet is languishing behind on 2.6, and would be fine if it were on 2.9

[2017-10-09 11:48] ajgarnerin commented on #31
I have the same problem. Any progress on this issue?

[2017-10-09 20:09] JedMeister commented on #31
Not really... but [soon](https://github.com/turnkeylinux/tracker/issues/942) hopefully?!

[2017-11-15 23:53] estevaocm opened #48 "QRCode for transactions instead of USB"
Hello, big fan here. I realize this project is for your own convenience, but would it be possible for the next release to enable loading transactions from QRCodes in Electrum by using the camera? I don't suppose this would be a security breach in itself. Are camera drivers a problem? I suppose basic drivers could suffice?

I have not yet entered BitCoin exchange, still studying the technologies in

[2017-11-18 23:38] sepehr commented on #31
Eagerly looking forward to this.

[2017-11-18 23:43] bogomip2k commented on #31
This one is really big. Any ideas as to how much effort this would take to implement?

On Nov 18, 2017, at 3:38 PM, Sepehr Lajevardi <notifications@github.com<mailto:notifications@github.com>> wrote:

Eagerly looking forward to this.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/bitkey/bitkey/issues/31#issuecomment-345479702>, o

[2017-11-19 01:00] sepehr commented on #31
TBH I'm not very familiar with the topic to provide an estimate. However, I don't think this would be too much of [work](https://glandium.org/blog/?p=2830) for someone who is. As it seems to be [already solved](https://tails.boum.org/blueprint/UEFI_boot_on_Mac_without_rEFInd/).

[2017-11-20 00:11] JedMeister commented on #31
Progress on this issue has ground to a halt lately. That's because the guy we have working on it is extremely busy and hasn't had much of a chance to work on it. I'm hoping that we will ditch our custom installer and move to the default Debian installer. If we do that, then hopefully this issue will essentially resolve itself.

But even in a best case scenario, that will be a little while away. An

[2017-11-25 09:55] sepehr commented on #31
That's totally understandable. I'm patiently looking forward to it.

[2017-11-25 20:48] SidShetye opened #49 "Won't boot from USB 3.0 port"
First I had to disable UEFI and enable legacy CSM support.

But even then your image won't bootup. Here is something from the logs

`/init: line 3: can't open /dev/sr0/: No medium found`
then
`(initramfs) Unable to find a medium containing a live file system`
and finally drops to
`(initramfs)`

The solution is to use a USB 2.0 port but all of my newer machines don't have a single USB port.

This i

[2017-11-27 00:05] wiksito opened #50 "Veracrypt Support"
Hello, thank for such a wonderful project.

I normally keep all my files in a veracrypt volume. When I need to use bitkey/electrum, I would have to open the volume, transfer it out of the volume from windows. Then boot into bitkey to use the electrum wallet files. Once done, I have to move it into the volume from windows.

I know this is a bit to ask but it is possible to have veracrypt support in

[2017-11-27 20:02] estevaocm commented on #48
Of course, BitKey already enables creating QRCodes, so at least the signed transaction gets to be read optically and then broadcasted without tampering. But malware can still get in the system by USB, even if it can't get out.

I'm actually putting an effort towards updating BitKey's source with Electrum 3.0.2 and zbar, but it has been a struggle. At present I can't get easy_install to work, after

[2017-11-27 20:09] estevaocm commented on #44
Hello, I tried storing the cold wallet in the same USB stick as the live system, but this drive does not get mounted so you can't access the wallet or any of the files. This seems a design choice by the devs. Or maybe an actual technical restriction.

I for one think it's good enough to use Bitkey only for the cold offline wallet, while using my usual online system and my Android phone for the wat

[2017-11-27 21:49] JedMeister commented on #50
Hey there,

I'm not really the best person to speak to BitKey stuff, and I'm not sure how likely it is that support for veracrypt would make it's way into BitKey.

But I'm all over how to build and modify BitKey! So whilst making it default on BitKey is unlikely anytime soon, there is absolutely no reason why you couldn't build your own version of BitKey with it included!

BitKey is built using ou

[2017-11-27 21:57] JedMeister commented on #48
Hey there. Sorry for the lack of feedback and input. BitKey is a side project for us and personally, I'm not familiar with it (I'm not on the bitcoin bandwagon; I was always planning to, but figured I've left my run way too late now...).

Having said that, I'm well versed in Debian and TurnKey in general (including our TKLDev build tool), so may be able to be of some assistance...

Regarding your

[2017-11-27 22:06] JedMeister commented on #44
Sorry for the radio silence... As I've posted elsewhere, this a side project and doesn't really get the love it deserves. Also I'm not a user myself, so from a user (or design, or actually anything to do with bitcoin) perspective I can't help much...

Having said that, I'm very familiar with the build infrastructure, so can certainly assist you to bend BitKey to do what you want (although I can't

[2017-11-27 22:21] JedMeister commented on #49
It's related to the fact that our builds (most likely) don't contain USB3 drivers. Even if they do have USB3 drivers by default (my reading suggests that they should be integrated into the kernel already), they aren't being included in the initramfs, so aren't available at boot time.

If you have a USB2 port that you can boot from, I suggest that you use that, then check if the USB3 port works ok

[2017-11-28 00:22] wiksito commented on #50
Hi, JedMeister,

Glad to know this is a possibility. Unfortunately, I do not have the time to learn right now. Hopefully, I can get to this in about 3 weeks. I'm excited to learn how to build a new BitKey.

Thanks for your advice.

[2017-11-28 10:07] estevaocm commented on #48
Hi Jeremy! Yes, I did install that package, which is why I am confused. I also find it odd that I've removed the old python but 2.7 still gets installed, probably as a dependency for something else.

I'm still new to Turnkey and Bitkey, so I'm only working on the plan, don't yet know how to test it first and use apt-get, since the final output would be an ISO but it fails.

[2017-11-28 20:47] JedMeister commented on #48
As python2.x is default python in Debian Jessie (what the current build is based on - actually it's still the default python in Stretch) there will be lots of things that depend on it. Are you calling the python3 version of easy_install explicitly? I.e.:
[code]
Or the internet suggest that alternatively, you can launch it via python (untested):
[code]

TKLDev is designed for building all of our he

[2017-11-30 02:35] estevaocm commented on #48
Thanks, Jeremy. I couldn't actually speed things up until I was actually able to build the ISO. I've removed the Electrum 3 dependencies from my conf.d/electrum and added them to plan/apps and it worked (python3-setuptools, python3-pyqt5, python-jsonrpclib, python-qrcode, python-slowaes, python-protobuf, python3-ecdsa, python3-requests, python3-six, python3-colorama, python3-dnspython). I also thr

[2017-11-30 02:39] estevaocm commented on #48
I've noticed electrum-wrapper calls electrum deseed, which was removed in Electrum 3. Maybe this is causing the USB block issue. Will investigate further...

[2017-11-30 13:44] estevaocm commented on #48
To confirm, I had to comment the lines that create the online wallet with deseed, a command which is no longer provided, so the unmount can proceed successfully:

`# create seedless watch wallet (cold-online)`
`#if [ -e "$wallet_path" ] && [ ! -e "$storage_path/cold-online" ]; then`
`    #info "creating $storage_path/cold-online..."`
`    #echo y | electrum deseed -w $wallet_path`
`    #mv $wallet

[2017-12-01 13:50] estevaocm commented on #48
I have tried an offline web QR scanner from my USB drive and the browser console indicates that there is no access to the camera. This may be the cause of Electrum's segmentation fault, though my expectation was for it to fail gracefully. Anyhow, I could solve this with a web QR scanner but must find out how to enable the camera first.

[2017-12-01 23:29] estevaocm commented on #48
Okay, I included the package "cheese" in my build and this has enabled my USB webcam in my ISO running on a virtual machine. I generated the QR for a transaction preview in my host system running a watch only wallet and successfully scanned the QR to the guest Bitkey system.

I'll share the code for this soon, but the process can be replicated by following my comments in this thread.

Cheers!

[2017-12-02 05:37] estevaocm commented on #48
I have forked into https://github.com/estevaocm/bitkey/
Changes:
- Electrum upgraded to 3.0.2
- Electrum dependencies upgraded by the TKLDev plan (maybe less secure, but was more convenient for me), including Python3
- cheese and zbar included for webcam QRCode scan support
- Web QRCode scanner located at /home/user/webqr

[2017-12-02 06:16] firepol commented on #9
Hi, sorry to resuscitate this... but now Firefox released a new beast: Firefox Quantum. Would you consider adding Firefox Quantum? Or same arguments? Thanks and cheers.

[2017-12-03 13:34] tuberculo opened #51 "Extended seed"
Does Bitkey support extended seed feature in Electrum? I tried to use this feature but couldn't do it.

[2017-12-04 00:11] JedMeister commented on #51
Hey @tuberculo - unfortunately, I don't have a clue. Perhaps you required a specific version of Electrum to do that? If you can direct me towards some docs noting what you are trying to do, perhaps I could give you some guidance?

----

FWIW, I work with TurnKey so can give advice and support on general OS stuff (as BitKey is based on TurnKey) but I'm not a BitKey user nor do I personally know any

[2017-12-04 00:15] JedMeister commented on #48
Great work @estevaocm! Sounds like you are having some great progress! Thanks for posting notes.

[2017-12-04 00:18] JedMeister commented on #46
Hey @zanderisrael - we hope to do this sometime soonish, but as BitKey is a side project, I can't give you any timeframe. Having said that, you can rebuild BitKey yourself if you wish.

If you have a look at what @estevaocm is up to in #48, he's actually already got build code to include Electrum 3.0.2 - perhaps you could collaborate with him?

[2017-12-04 00:24] JedMeister commented on #43
That would totally be possible. TBH, I'm not 100% sure how OTTOMH, but I'm sure it'd be possible. I suggest that you have a read up on TKLDev and consult the [BitKey buildcode](https://github.com/bitkey/bitkey) and hopefully you can work it out.

TBH, I'm not totally sure how to remove specific boot options, but even if you can't work that out, I'm sure you could ensure no networking drivers are i

[2017-12-04 00:45] JedMeister commented on #9
I've read about the new Firefox Quantum and whilst it sounds cool, I'm yet to actually use it. As an aside, the new, improved Firefox sounds awesome, but I think the name sucks! It sounds like some BS marketing hype for some new pseudoscience gadget!

In the context of BitKey, the previous argument still stands. Not because there is anything fundamentally wrong with Firefox Quantum (it's probably

[2017-12-04 01:09] tuberculo commented on #51
I could not find the documentation about this feature, but it is mentioned here, https://bitcointalk.org/index.php?topic=1672883.0.
It also says that it was introduced in version 2.7. So, that's the reason Bitkey does not have it, as it uses version 2.6, I believe.

[2017-12-04 01:09] #51 closed, assigned to nobody

[2017-12-04 01:16] JedMeister commented on #51
FWIW, @estevaocm is developing an updated version that includes Electrum 3.x so perhaps you could link up with him and assist with testing and development?

Have a look here: https://github.com/bitkey/bitkey/issues/48#issuecomment-348670180

[2017-12-04 01:36] estevaocm commented on #48
Thanks, @JedMeister. It was a lot of work but pretty rewarding.

I'd say the TODO list for my fork would be to repackage Electrum's dependencies with their hashes as in the main branch for added security and find a way to export the cold-online-wallet which was disabled by upgrading Electrum to 3, which has ended the deseed function. Although in my opinion the other boot modes are no longer necess

[2017-12-04 01:42] estevaocm commented on #48
BTW, @JedMeister, I wonder how secure are TKLDev's package download routines. Specifically, if the downloads are encrypted and if the hashes are verified. I bring this up because I saw that the other Bitkey devs bothered to put all Electrum's dependencies in overlay with their respective hashes, as if they did not trust the package downloads in TKLDev. Or maybe its simply for auditing? For myself,

[2017-12-04 02:11] JedMeister commented on #48
Re the issue of security, we include the code and the hashes (rather than downloading on the fly during build) is primarily to reduce the trust requirement.

Firstly, pip/PyPI has some significant and very real security issues. Theoretically, anyone could upload something malicious there and everybody installing or updating via `pip` would be affected (possibly infected, depending on what maliciou

[2017-12-04 07:49] firepol commented on #9
Ok, I forked the project already and I'll try to do as you said ;) about the re-install/update on boot, if you have some example on  how to do that (and some lines of code) that would be awesome. Thanks and cheers, Paolo

[2017-12-04 14:23] estevaocm commented on #48
Thank you for your considerations, @JedMeister, you have been very helpful! I fully agree with your assessment.

Then I guess the Python sources should indeed be pre-downloaded to overlay and hashed for greater security. Maybe I or another collaborator could get to that with some free time.

[2017-12-04 18:11] SidShetye commented on #49
Thanks for the detailed response. Personally it seems like a lot of effort just to play with in my 'spare' time, so for now my workaround is to use Tails :) ... I do hope you guys are able to resolve this in due course. It would be great to have a modern LiveCD specifically for crypto-currencies (at least the most popular ones).

Good luck.

[2017-12-04 21:17] JedMeister commented on #49
No problems. FWIW, this project is all done in our spare time too! :smile:

Although it does leverage the work we do with TurnKey Linux so hopefully this issue will just "go away" once we release our next major TurnKey version. If not, hopefully someone will be interested enough in getting USB3 working to have a bit of a play and report back.

Good luck with it all. And thanks again for the bug re

[2017-12-04 22:03] JedMeister commented on #9
The first thing I'd do if I were you would be to try installing it on a running BitKey. If you do that via the commandline, then you can more-or-less copy paste that straight into a bash script (it needs to be non-interactive, if you get stuck, please post and I can help out). TBH, I'm not sure exactly what steps you'd need to take (and there are no doubt multiple ways for it to be done), so I can

[2017-12-05 01:37] tuberculo commented on #48
Is this version working? @estevaocm do you need any help testing it?

[2017-12-05 14:03] estevaocm commented on #48
Hi @tuberculo. The cold-offline mode is working. I have not tested the other modes (cold-online and hot-online).

Cold-online should not work because the deseed function was removed from Electrum and I have not yet found another way to generate a deseeded wallet (one with only the public key).

I have tested cold-offline mode with a simple Clone USB webcam and my notebook's Alcor Micro USB webcam.

[2017-12-06 11:04] tuberculo commented on #48
Great. I think I'll use your version, as there are some good new features in Electrum, like RBF and segwit. QR code scanning seems to be useful too.

I can see that you commented two lines in file Electrum-3.0.2/electrum. What is it for?

[2017-12-06 16:04] estevaocm commented on #48
Yes, thank you for reminding me of that, that should be in my backlog. In the original Bitkey, that is deployed as a patch. Since I was in a hurry, I altered directly the source code. But I should try to make the patch work as in the master branch. As I understand it, that is for better compatibility with the Bitkey scheme of automatically storing and retrieving the wallet at a predefined location

[2017-12-06 16:13] estevaocm commented on #48
I have added issue https://github.com/estevaocm/bitkey/issues/5 to address this. To be honest, I don't yet know the tool that was used to create the patch files with line numbers, dates etc. so I could use some pointers for making the patch. Assuming it is actually necessary. Should be worthwhile to test the unpatched version first. I have little experience with Python but am experienced in Java s

[2017-12-07 12:32] estevaocm commented on #48
https://github.com/estevaocm/bitkey/releases/tag/14.2.0-qrscan-ether

[2017-12-07 21:35] estevaocm commented on #48
New release now with Electrum-LTC and Electron-Cash working. (Must be manually executed from terminal from /usr/local/src)

https://github.com/estevaocm/bitkey/releases/tag/14.2.0-qrscan-altcoins

[2017-12-09 05:59] estevaocm commented on #48
Latest release has only complete and unpatched source code packages for Electrum varieties, with the respective checksums and signatures.

In order to avoid having to manage dependencies, the packages are running directly from source, without installing with Python.

Added icons for Electrum-LTC, Electron Cash, My Ether Wallet and Web QR scanning (this one is currently failing with Chromium).

htt

[2017-12-09 06:06] estevaocm commented on #43
To implement this, edit cdroot.overlay/isolinux/menu.cfg to remove line "label cold-online" and all below it, then recompile Bitkey.

Note the background is color-coded to each mode. If you don't get green, it's a no go.

Alternatively, my build at https://github.com/estevaocm/bitkey/ allows only for cold-offline and hot-online, so it's green vs. red.

[2017-12-09 06:08] estevaocm commented on #44
For Electrum-LTC, Electron Cash and My Ether Wallet, check out my fork at https://github.com/estevaocm/bitkey/

[2017-12-09 12:21] architectdesigner opened #52 "suggestion to include keepass"

[2017-12-11 01:30] tuberculo commented on #52
If I understand it right, one should add "keepassx" to /plan/apps. Is that right?

[2017-12-11 02:48] JedMeister commented on #52
@tuberculo - Yes, assuming you want to install the Debian Jessie package `keepassx` (for Debian package info, see [here](https://packages.debian.org/jessie/keepassx)).

[2017-12-14 02:21] emartec opened #53 "Support Exodus wallet"
ignore. Wrong fork.

[2017-12-14 02:23] #53 closed, assigned to nobody

[2017-12-18 00:23] tuberculo commented on #40
Hi, @JedMeister
Is it possible to build a 32bit version? Is it something simple to do?

[2017-12-18 00:38] JedMeister commented on #40
Sorry for slow response @tuberculo. In theory it should be as simple as downloading the 32 bit TKLDev (it's on our mirror here: http://mirror.turnkeylinux.org/turnkeylinux/images/iso/turnkey-tkldev-14.1-jessie-i386.iso) and running through the usual steps. Note though, that that is v14.1. We didn't do a v14.2 32 bit release at all. It's unlikely that we will ever be doing "official" 32 bit builds

[2017-12-20 17:19] Boristka commented on #21
Hi.
I have my seed phrase of a HD wallet i created on bither in 2016.

I also have the adress i used.

When i try any "recover wallet with mnmonic" it gives me an empty wallet...
While, i can see my transactions and my 135 mBTC left when i put the adress in a watch only wallet..

I tried also to get an private key with the https://iancoleman.github.io/bip39/

But i dont find my adress on the list.

[2017-12-24 05:05] richsmith92 commented on #21
@Boristka you better address this to Bither support. IIRC Bitkey has nothing to do with Bither.

[2017-12-26 04:45] estevaocm commented on #37
My fork at https://github.com/estevaocm/bitkey includes https://github.com/iancoleman/bip39 which also includes bip 32, 44, 49 and 141.

[2017-12-26 04:47] estevaocm commented on #21
Added in my fork at https://github.com/estevaocm/bitkey

[2017-12-27 18:12] isvekris commented on #38
Hey guys,
Did you got around implementing etherum wallet? :)

[2017-12-28 09:47] jeremejazz commented on #52
Or Keepass**xc** https://keepassxc.org
Its development is more active

[2017-12-31 13:57] AndreasBBS commented on #38
Maybe this https://github.com/ExodusMovement is possible to integrate. Thoughts?

[2018-01-02 05:53] secme commented on #38
Exodus is closed source. I've got the offline version of https://www.myetherwallet.com/ working from a usb key, and use that for multi-sig. Just need to integrate that and Job done, you support all ERC20 tokens.

[2018-01-10 23:55] carloslrr opened #55 "A vulnerability has been found in Electrum"
A vulnerability has been found in Electrum, and patched in version 3.0.5. You can see it in https://electrum.org
Please update your software.

[2018-01-18 07:21] JedMeister commented on #55
Hi, thanks for this.

Really sorry for my slow response! We'll certainly look into it ASAP. In the meantime, I'll get in touch with my colleague Alon and get him to have a closer look. If need be, we may need to pull the current image. I'm not sure when we'll be able to republish it.

FWIW, this is really just a side project for us, so it doesn't get the love that it deserves.

[2018-01-18 07:37] JedMeister commented on #52
@jeremejazz - Yeah that's how Debian works. It's the lack of development which makes it so stable. Security issues are addressed via backported patches and are auto applied at boot. Whilst the version will be older, it's supported without needing to do any extra work (so lighter maintenance costs for us - not that we're doing a very good job of maintenance recently anyway...).

Another factor is t

[2018-01-28 06:10] FromLV commented on #31
Does anyone checked the problem is solved?

[2018-02-03 11:20] pltlg commented on #31
Seems not yet

[2018-02-06 08:59] jologi commented on #38
Any news on that subject? Which currencies are currently supported?

[2018-02-06 09:03] jluttine commented on #38
I created a very simple live USB OS with support for a few other cryptos. Should be relatively easy to add support for some other popular cryptos too. It's based on NixOS and very much work in progress, so I can't advice anyone to use it. But just thought I'd mention it here in case someone is interested: https://github.com/jluttine/CryptOS. Obviously, it's not as feature rich and polished as Bitk

[2018-02-23 18:34] tuberculo commented on #52
Hi @JedMeister. Is it possible to install [jessie-backports](https://packages.debian.org/jessie-backports/keepassx) version?
If it is, how?

[2018-03-03 18:16] estevaocm commented on #55
@carloslrr, my fork https://github.com/estevaocm/bitkey/ solves this issue.

[2018-03-04 16:52] carloslrr commented on #55
@estevaocm, thank you very much for your response, I'll try it.  :)

[2018-03-07 08:00] JedMeister opened #56 "Create new "community" branch and promote Steven to BitKey community leader."
As most would be aware, BitKey is a side project of TurnKey Linux. Other than the initial development and a few updates here and there over the years, we've done a really poor job of maintaining it! :cry:

However, the BitKey community was lucky enough that @estevaocm has come along and given the project some love. He rolled up his sleeves, forked the project and has been doing an incredible job t

[2018-03-08 03:07] JedMeister commented on #56
I'm closing this now as I'm pretty sure everything is set up good to go! :smile:

----

Hey @estevaocm - I've now done that and everything should be working as expected. If there is anything I've missed or something isn't working for you, please let me know.

You have full write access to the new `community` branch and can push direct to it. You'll also be able to approve and merge pull requests,

[2018-03-08 03:07] #56 closed, assigned to JedMeister

[2018-03-08 03:15] JedMeister commented on #40
Hi guys, sorry about this, but as BitKey is based on TurnKey Linux and we've deprecated 32 bit, there is no anticipation of ongoing 32 bit support for BitKey. Sorry about that, but it's just not feasible (from a resource perspective) for us to maintain 32 bit support. :cry:

[2018-03-08 03:15] #40 closed, assigned to nobody

[2018-03-08 03:18] JedMeister commented on #31
No and TBH, it's unlikely that it will be solved anytime soon (at least by @turnkeylinux).

If someone wants to have a crack at it, from my brief reading it should be possible to use grub (v2) to boot the ISO when a UEFI BIOS is found (currently it uses syslinux which is incompatible). So ideally we'd have a hybrid boot system where grub is used if required, otherwise it falls back to syslinux.

I

[2018-03-08 16:30] estevaocm commented on #56
Thanks for the guidelines, @JedMeister . BTW, I was re-reading the development guidelines and remembered I have added a non-open source package into my Bitkey fork by request from one of our users. Namely, Exodus. Exodus has published some of its components as open source but not the full package. I think we should discuss whether to remove it or at least emphasize this issue in documentation.

[2018-03-08 16:34] estevaocm commented on #31
I have no experience with a Mac, but I have a UEFI PC notebook in which I was able to disable UEFI for legacy booting. No idea if this is something that can be accomplished on a Mac without modifying Bitkey.

[2018-03-08 16:39] estevaocm commented on #55
This is fixed in the new community branch.

[2018-03-08 16:39] #55 closed, assigned to nobody

[2018-03-08 16:41] estevaocm commented on #48
My fork has been merged to the new community branch, so I'm closing this issue.

[2018-03-08 16:41] #48 closed, assigned to nobody

[2018-03-08 16:42] estevaocm commented on #46
Now solved in the community branch.

[2018-03-08 16:42] #46 closed, assigned to nobody

[2018-03-08 16:43] estevaocm commented on #37
My fork has been merged to the community branch.

[2018-03-08 16:43] #37 closed, assigned to nobody

[2018-03-08 16:45] estevaocm commented on #38
Ethereum, litecoin, monero, dash and ripple as requested by the opening post are now supported in the community branch.

[2018-03-08 16:48] estevaocm commented on #34
The new community branch has Electrum 3.0.6, though I don't have a hardware wallet to test the underlying OS support. There should be a new Bitkey release soon, but in the meantime, if someone wants to test this, check out https://github.com/estevaocm/bitkey/releases/latest

[2018-03-08 17:10] estevaocm commented on #21
As my fork has been merged into the Bitkey community branch, I believe we can close this issue.

[2018-03-08 17:10] #21 closed

[2018-03-08 23:08] matiaslb opened #57 "Community releases of bitkey should be signed"
It isn't clear whether upcoming releases in the community branch will be signed using the "Turnkey Linux Release Key <release@turnkeylinux.com>" key ([link](https://releases.turnkeylinux.org/turnkey-bitkey/14.2.0-jessie-amd64/) to the signatures of version 14.2.0). So opening this issue as a reminder that as a user I'd like to verify that I'm getting the same artifacts as the ones that were releas

[2018-03-09 02:08] estevaocm commented on #57
Hello, @matiaslb. That link does not hold signatures, only a digest (hash code), a manifest and a change log (which are a bit simpler to make), but I see your point. I'm getting a forbidden error from the second link you offered.

[2018-03-09 02:46] matiaslb commented on #57
Correct, the [hash](https://releases.turnkeylinux.org/turnkey-bitkey/14.2.0-jessie-amd64/turnkey-bitkey-14.2.0-jessie-amd64.iso.hash) is signed, so one can run: `$ gpg --verify turnkey-bitkey-14.2.0-jessie-amd64.iso.hash` , to verify that the corresponding image hasn't been tampered with.

It's odd that you're having trouble accessing the debian wiki, here's the [link](https://webcache.googleuserc

[2018-03-09 04:35] estevaocm commented on #57
Right, sorry, seems like I forgot to open the file to check the PGP.

[2018-03-09 04:39] estevaocm commented on #57
I do not currently have Turnkey's private key so I'll have to check with @JedMeister what we can do about this.

[2018-03-09 04:46] estevaocm commented on #57
I could easily provide the ISO hashes, but I understand that would not be secure enough for some.

[2018-03-09 16:40] quantumproducer opened #58 "Clearing RAM"
I would expect the following instructions:

* Scan qrcode of signed transaction with phone and broadcast transaction to network.

* Turn off BitKey, disconnect power source, wait 15 minutes to clear RAM

To insert the last line in between "scan qrcode of signed transaction" + broadcast to network. No need to have Bitkey up and running while transaction is processing. This minimizes attack surface.

[2018-03-10 16:28] matiaslb commented on #57
I'm not very familiar with key management, but I believe using your own key to sign the releases would be sufficient.

I guess for bonus points, you could upload your public key to keybase and request [turnkeylinux](https://keybase.io/turnkeylinux) to follow you to establish a [web of trust](https://keybase.io/docs/server_security/following).

[2018-03-10 18:21] WishfulThinking opened #59 "Need Python 3.5 to use Bitcoin Cash"
Opening or creating a wallet fails because of these upstream issues

https://github.com/fyookball/electrum/issues/592
https://github.com/fyookball/electrum/issues/420

The fix is to use Python 3.5 or greater.

The python version used by Bitkey is a 3.4.X from 2014

[2018-03-11 02:59] estevaocm commented on #59
Regressed Electron Cash for now.
Would be nice to have Turnkey updated to a newer Debian version with Python 3.5.

[2018-03-11 17:48] estevaocm commented on #52
Added keepassx from the jessie repository. May look into the backport in the future.

[2018-03-11 19:15] estevaocm commented on #50
I suppose I could add VeraCrypt to the new Community edition. However, by design, Bitkey has no access to the local hard drive, only USB drives, so unless you are using an external HDD by USB, you'd have to make a customized build for yourself.

[2018-03-11 19:18] estevaocm commented on #59
Please let us know if your wallet works on the latest Bitkey release.

[2018-03-13 01:02] george-viaud commented on #52
KeepassXC may be a better option.  Anecdotally, I find it to be far more well maintained and feature-rich.

[2018-03-13 01:47] tuberculo commented on #52
Sure, but maybe it is not possible to install KeepassXC in Bitkey, as Bitkey is based on an very old Debian version.
Keepassx version from backport would already be a great improvement, as the jessie version is very old and cannot read the file format used in the newer versions.

[2018-03-13 02:55] estevaocm commented on #52
@tuberculo, I suppose the backport can be installed in Bitkey similarly to how Exodus is. Would have to check out any dependencies and other possible incompatibilities though. This could take a lot more time than my usual wallet updates and javascript app additions, so I won't give a time frame just yet. I was not aware the new version uses a new file format, that indeed complicates usability.

[2018-03-13 02:58] estevaocm commented on #52
I could try installing this, maybe it will solve everyone's problems? https://github.com/magkopian/keepassxc-debian/releases
No idea if that version can be trusted, but it's linked at the official site at least.

[2018-03-13 03:46] estevaocm commented on #52
Missing dependencies for keepassxc:
libqt5x11extras5 5.1.0
libykpers-1-1 1.12.0

[2018-03-13 04:30] estevaocm commented on #52
Got keepassxc working. Some tidying up to do before publishing though. Will commit first to https://github.com/estevaocm/bitkey/ and later merge here.

[2018-03-13 05:05] jeremejazz commented on #52
:+1:  glad it does. It has more features and has continuously maintained. not that we need to update always but at least we have those additional features.

[2018-03-13 17:31] george-viaud opened #62 "Can not mount secondary USB stick to use external tools"
I'm trying to mount a USB key with additional tools so I can execute them in the secure environment.

Double clicking the device in thunar results in a "Failed to mount" - Not authorized to perform operation.

What is the prescribed mechanism to do this (preferably via GUI) ?

Many thanks

[2018-03-13 22:58] estevaocm commented on #62
Well, Bitkey is not intended to be used in that way, so your guess is as good as mine, to be honest. I suppose, however, a single click would be enough to open the directory. Are you trying to use an autorun feature from the device? This would be even more unadvisable.

[2018-03-14 00:20] george-viaud commented on #62
Nothing like that - just trying to bring in some appimages and similar to run them off the USB.

The disk will not mount from thunar (error as described).

I guess I'm going to need to figure out how to build custom version / ISO that includes my overlays.  Could you suggest some a good starting place for this info?

Thank you

[2018-03-14 00:38] estevaocm commented on #62
I've seen reports that USB 3.0 does not work. Otherwise I have used many USB 2.0 drives without problems.

The documentation for building is https://github.com/turnkeylinux-apps/tkldev/tree/master/docs

[2018-03-14 00:45] estevaocm commented on #62
See #49

[2018-03-14 15:15] firepol commented on #59
What about installing python 3.6 this way?

https://unix.stackexchange.com/questions/332641/how-to-install-python-3-6

Either as explained in the accepted solution or built as explained in the answer with most upvotes (I'd rather add the repo and install the deb, it looks way easier and still it's an "official" & proper way to do it).

What do you think? Could it work in bitkey? I never tried to a

[2018-03-14 21:28] JedMeister commented on #59
We're currently working on v15.0 TurnKey release. We should have an RC really soon and stable releases soon after that. Once we have that, then rebuilding BitKey against a v15.0 (i.e. Debian Stretch) base should be a possibility.

[2018-03-14 21:33] matiaslb commented on #59
Do you have a link to an issue we can use to track the status ?

[2018-03-14 21:55] JedMeister commented on #62
Please excuse me jumping in here, perhaps I'm missing something so take this with a grain of salt.

@george-viaud

A couple of things:

As @estevaocm noted, auto mounting stuff is a potential security risk which is counter to the concept of BitKey.

Personally I would recommend only ever manually mounting additional storage. And the easiest way to do that in a secure way is from the commandline. A

[2018-03-14 22:05] JedMeister commented on #59
Not specifically, but we'll announce it on our [blog](https://www.turnkeylinux.org/blog).

Although, I suspect that it'll still probably be a little while before BitKey will be updated. Even once we have TurnKey released as 15.0 stable, there will still be a bit of work to port the BitKey buildcode to Debian Stretch. As @estevaocm is a volunteer, the work will only proceed as he has time and energ

[2018-03-15 00:50] jologi commented on #31
why is bitkey using turnkeylinux and not ubuntu? Ubuntu will boot from Mac

[2018-03-15 03:00] JedMeister commented on #31
@bogomip2k - because BitKey is a TurnKey Linux side project... :smile:

[2018-03-15 03:40] estevaocm commented on #31
Also Ubuntu is not nearly as clean and secure as Debian. But by all means, @jologi, be our guest and build a Ubuntu version if you prefer. But I don't know if there is a building tool for Ubuntu that is as simple to use as Turnkey.

[2018-03-16 15:19] george-viaud commented on #62
This is really sage advice - thank you both for this.

I'm entirely unfamiliar with building ISO but feel this is the best option for me now - would it be advisable (or possible for that matter) to somehow edit an existing ISO to include my additional overlay?  If not I will return to the building doc provided above by @estevaocm

Many thanks

[2018-03-16 16:33] estevaocm commented on #62
I know that compression tools such as 7-zip can extract contents from an ISO, so I wouldn't be surprised if they also allowed to add files, but I've never tried. You may also look into CD/DVD editing software that may edit ISO images (not sure though). Building with TKLDev does require some expertise with Linux systems and virtual machines, so unless you're familiar, it could be tough.

[2018-03-17 20:42] quantumproducer opened #63 "Monero, IOTA missing from ISO"
The Github talks about Monero & IOTA wallets. I installed the ISO, ran in cold-offline and I didn't see Monero, IOTA or Ethereum listed. All of the tools present were Bitcoin related (+ qr code, editor etc).

Is the ISO just behind the main build, or is there something else I have to do to run these programs in offline mode?

[2018-03-17 20:52] quantumproducer commented on #59
Hey @estevaocm , you said "regressed Electrum cash".
If I provided my own Python could I still use Electrum cash? I downloaded the ISO but only saw "Electrum"

[2018-03-18 22:43] estevaocm commented on #63
Please check the JavaScript apps.

[2018-03-18 22:43] estevaocm commented on #63
http://estevao.altervista.org/bitcoin/offline-web-apps.png

[2018-03-18 22:43] #63 closed, assigned to nobody

[2018-03-18 22:45] estevaocm commented on #59
There are Electrum, Electrum-LTC, Electron-Cash and Electrum Dash in the ISO. http://estevao.altervista.org/bitcoin/cold-offline.png

[2018-03-18 22:48] estevaocm commented on #59
If you use Bitkey as prescribed, you could install Python 3.5 and the latest Electron Cash each time you booted, but would have to repeat the task at each boot. Python 3.5 is not available for Debian Jessie, so I'm waiting for Turnkey linux to be upgraded to Stretch or newer. If I have time or someone volunteers, we can try to get Python 3.5 to work in the Bitkey build by manual installation such

[2018-03-19 03:26] quantumproducer commented on #57
+1

[2018-03-19 03:35] quantumproducer opened #64 "List version number on Github page"
It isn't clear from the Github page if the ISO on the website is behind or not.
Fix: Show version number on Github

[2018-03-19 03:47] quantumproducer commented on #59
@estevaocm  should we be concerned here? Those aren't the options I see. I downloaded the iso 14.2.0 .

Is the ISO behind the main branch per https://github.com/bitkey/bitkey/issues/64 ?

[code]

Here are images of the installation:

![tk1](https://user-images.githubusercontent.com/11827932/37577160-b27c502e-2b06-11e8-846f-3253840e618d.png)
![tk2](https://user-images.githubusercontent.com/11827932

[2018-03-19 03:51] quantumproducer opened #65 "Armory Wallet Recovery"
Bitcoin Armory offers wallets with multi part keys.
I didn't see an option to import this way with Electrum in Bitkey.
I would like to see Bitcoin Armory included in Bitkey.

[2018-03-19 03:56] quantumproducer commented on #63
Thanks for the quick response @estevaocm .
Please excuse my ignorance, is that an option at the bottom toolbar at launch?
I do not see Offline Web Apps as an option in `turnkey-bitkey-14.2.0-jessie-amd64.ios` downloaded from the site.

[2018-03-19 05:54] JedMeister commented on #56
Apologies on slow response @estevaocm. I hope I wasn't "[teaching you to suck eggs](https://en.wikipedia.org/wiki/Teaching_grandmother_to_suck_eggs)"! :smile:

Whilst in theory, I'm not sure Alon and Liraz would be super enthused about any non-open source software being included, I'm personally not totally against it. However there are 2 main considerations:

 - Firstly, yes it should be clearly d

[2018-03-19 05:55] JedMeister commented on #63
@quantumproducer if you downloaded the ISO from https://bitkey.io/ then you don't have any of @estevaocm's goodies! To download the latest community ISOs (with all of @estevaocm's goodies, bugfixes and security updates) you need to download the ISOs from the [release page](https://github.com/bitkey/bitkey/releases).

We should probably update the website to make that clear. And actually seeing as

[2018-03-19 06:01] JedMeister commented on #57
@matiaslb

Great suggestion! Yes that's a very good idea. Unfortunately I don't have access to TurnKey's private keys myself either (for security only @alonswartz has access to those keys; just the way I like it! :smile:). But I'm sure that we can work something out. I'll speak to Alon about it.

[2018-03-19 06:11] JedMeister commented on #57
@estevaocm - in the meantime, I have just followed you on Keybase.io. It still doesn't quite "cut the mustard" (especially considering that TurnKey doesn't follow me!) but it's a start.

FYI, [buildtasks](https://github.com/turnkeylinux/buildtasks) includes a [generate-signature](https://github.com/turnkeylinux/buildtasks/blob/master/bin/generate-signature) script. The resulting hash file, then ne

[2018-03-19 06:12] JedMeister commented on #50
Hmm @estevaocm - really good point! Seeing as it runs live, encryption isn't going to be that useful really (as everybody would have the same key!).

[2018-03-19 06:15] JedMeister commented on #58
Perhaps we need to have a docs directory with some user documentation? Or perhaps it could just be included in the readme? Another idea would be to include the documentation into the build (i.e. a docs dir in the overlay somewhere). That way users could access it even when in offline mode?!

[2018-03-19 06:16] JedMeister commented on #59
Please see my other comment: https://github.com/bitkey/bitkey/issues/63#issuecomment-374108730

[2018-03-19 06:19] JedMeister commented on #64
As per other comments I've made recently, if you downloaded from the website and have turnkey-bitkey-14.2.0-jessie-amd64.iso then you don't have @estevaocm's latest work. To get that, see the release page: https://github.com/bitkey/bitkey/releases

[2018-03-19 12:44] quantumproducer commented on #58
Including docs in the overlay would be helpful, and make the compiled ISO by itself more useful

[2018-03-19 12:44] quantumproducer commented on #63
@JedMeister wow.. glad I didn't do anything with the release yet. Please remove from the website! I'll try the Github release

[2018-03-19 12:48] quantumproducer commented on #63
@JedMeister the release page lists 14.2.0-qrscan-altcoins-1.11-fixed beneath 1.11, but it has "Fixed" and "latest release" in it. I assume that's the correct one? I expected the latest release to be shown up top (maybe a quirk of Github)

[2018-03-19 15:27] estevaocm commented on #63
@quantumproducer , that indeed is a quirk of Github. Apparently it is alphabetically ordered. It also does not give the exact time of the release, which makes it even more confusing. However, the one without "fixed" is 2 commits behind, and the fixed has no newer commits, so it's the latest version.

BTW, there are more commits in my personal fork at estevaocm/bitkey, but I'm still working on it s

[2018-03-19 15:35] estevaocm commented on #57
I'll look into signing with my Keybase key. But I'm maintaining Bitkey on a Windows machine with VMs for building and testing, and PGP tools haven't so far been very convenient in this system. Also the complexity of feature requests has been escalating somewhat, so I won't be able to release as often as I was doing in my fork that became this community version. I am preparing a new release in whic

[2018-03-19 16:02] quantumproducer commented on #63
@estevaocm ah, thanks. 1.11 is gone now, "14.2.0-qrscan-altcoins-1.10" shows as the latest
(And by the way thank you for doing this work.. it's a great project)

[2018-03-19 17:32] estevaocm commented on #63
I was releasing at estevaocm/bitkey until version 1.10. Now that I'm in the community branch here in bitkey/bitkey, I will be releasing only here. However, I work at estevaocm/bitkey first, doing commits and testing, and when a new version is ready, I make a pull request to merge my changes here and then build the new ISO.

[2018-03-19 20:11] estevaocm commented on #58
While you are 100% correct, @quantumproducer, broadcasting means just clicking a single button after scanning, so I don't think this merits an additional step. I'll note at the last step that you don't need to wait for broadcast.

[2018-03-19 20:34] matiaslb commented on #57
Perhaps we should consider adding PGP tools to bitkey so that you can sign the releases in cold-offline mode... 🤔

I'm only half joking though, I wonder if there would be interest in expanding bitkey a little beyond being the "swiss army knife of handy Bitcoin tools" and to include tools that facilitate other sensitive workflows. Just a thought.

Edit: Perhaps I'll give it a shot this weekend, I'v

[2018-03-19 22:27] quantumproducer commented on #63
Thanks for the update!

[2018-03-20 03:31] estevaocm commented on #59
@firepol, I've tested in Ubuntu 16 the altinstall solution in the link you provided, as a warm up (testing in TKLDev takes a lot more time). Takes a while to build but it worked in that environment. However, I would have to either patch the electron-cash script to change the first line to #!/usr/bin/env python3.6, or figure out how to replace the standard python3 from jessie's repository. This wil

[2018-03-20 07:06] firepol commented on #59
Just an idea, instead of patching electron-cash first line (so you don't need to patch in the future), you can add a symbolic or hard link to python3.6, but call it python3.5. I think all features present in python3.5 are also in python3.6, so running python3.6 as python3.5 should work.

[2018-03-20 07:47] JedMeister commented on #59
If you need a newer version of python, then I would recommend installing python from upstream and running the app that requires it within a virtualenv as per [this answer](https://unix.stackexchange.com/a/350985/60506).

You could do that within a new `conf.d` script. As you say @estevaocm it may take a little while to compile, but going that path has the least chance of breaking other things. Obv

[2018-03-20 14:53] estevaocm commented on #59
If Stretch is just around the corner, it's probably more efficient to wait to adapt Bitkey for it. Replacing the current Python3 version with 3.6 seems simple enought but we don't have enough testers to garantee that upgrading Python in Jessie won't break anything, and the altinstall or virtualenv options require messing with the electron/electrum scripts.

[2018-03-21 03:14] quantumproducer commented on #64
Acknowledged

[2018-03-21 03:14] #64 closed, assigned to nobody

[2018-03-24 03:17] #52 closed, assigned to estevaocm

[2018-03-26 04:11] JedMeister commented on #57
@estevaocm - we don't want to make this too much work for you! So at the end of the day, please make sure you don't burn yourself out by taking on too much!

Seeing as you are doing all of this in your own time, we'd rather you keep the project alive, even if it doesn't have all the bells and whistles that everybody wants!

Having said that, a signed hash file would be really nice to have.

Regard

[2018-03-26 04:41] JedMeister opened #66 "[website] update so community ISO is easy to find & insecure official ISO is harder to find!"
Firstly @estevaocm; @alonswartz (one of the TurnKey Linux / BitKey founders) wanted to pass on his thanks for the fantastic job you've been doing on the community build of BitKey! He's been really impressed with the work that you've been doing here. So thanks again for that.

Further, following on from some offline discussions we've had, we've agreed that the https://bitkey.io website needs updati

[2018-03-26 18:51] firepol commented on #66
If you disable the official and promote community to official, I think to make it less confusing, you should just make the community official. Else many people will think "I want the official version, ah it's disabled... so what about this community version, it's not official, so it's less secure?"

Naming stuff is one of the hardest thing programmers and IT people are facing every day... I get it

[2018-03-26 19:00] quantumproducer commented on #66
Yeah, please just 1 button that gives the best (safest) release!

[2018-03-26 22:49] estevaocm commented on #57
Frankly I expected better usability from Keybase. I've been recording the ISO hash in the release notes but given up signing in Windows. I'm considering setting up a PGP in my Ubuntu system at work and signing the hash afterwards, but I'm not exactly thrilled at this job. Probably reasonable to do for major releases but I'm not sure I'll be signing all incremental releases. But I'll wait to make u

[2018-03-26 22:53] estevaocm commented on #66
Another option could be to forward to https://github.com/bitkey/bitkey/releases/latest . It wouldn't be a direct download but would never have to be updated again.

[2018-03-27 08:11] JedMeister commented on #57
@estevaocm - you're most welcome mate.

As I'm sure I've already mentioned, I'm a full time Linux user, so I won't be able to help much with Windows stuff, but I'm sure I could help out with a Linux commandline path (inside your TKLDev).

Regardless, see how you go and always happy to help you out if need be. :smile:

[2018-03-27 19:10] estevaocm commented on #57
After giving this some thought, I think the best solution for regular use would be to have the TKLDev build script, or a separate script in that environment, to sign product.iso right after it is built. Then I'll retrieve the signature file from the VM right after retrieving the ISO for the release, and post the text in the release notes. @JedMeister, if you have a sample script ready from another

[2018-03-27 21:08] estevaocm commented on #57
I have set up my own PGP key. Later I'll copy the files into TKLDev to start figuring out a script to sign the ISO.

[2018-03-27 21:35] estevaocm commented on #57
I'm disappointed with gpg, I found no way to sign the existing hash. Apparently I have to sign the original file (computing the hash again, only with SHA1 instead of 256). Otherwise I'd be posting the ASC for the latest release right now.

[2018-03-27 22:29] JedMeister commented on #57
Hey @estevaocm apologies I haven't responded sooner. I'm just trying to tidy some fairly important stuff up. Once I've done that, I'll spend a little time looking into this a bit closer. As I think I mentioned earlier, I'm pretty sure that the scripts in buildtasks should be easily bent to our purposes here.

Having said that, I don't work with gpg much day to day (other than emails and apt repos;

[2018-03-28 03:32] quantumproducer opened #67 "Signing Offline TX Without Electrum"
Hi, I am looking on how to sign an offline transaction without using Electrum, which requires USB storage.

What I am looking for is

Is this possible with the latest community release of Bitkey?

I tried using CoinBin to New > Transaction, but it wants "inputs" and it's not clear how to use those. I tried the other tools and didn't see a way.

Please advise, thank you!

[2018-03-28 03:51] quantumproducer opened #68 "Generating Private Key With Dice (code supplied)"
Hello, I am not familiar enough with building linuxes to suggest a PR with this code.

I made https://github.com/quantumproductions/private-dice designed for use with bitkey.

You roll dice (or flip coins) to generate a private key. You can then type this private key into one of the offline programs and generate an address to receive BTC.

It is inspired by https://www.swansontec.com/bitcoin-dice.

[2018-03-28 05:20] estevaocm commented on #67
I personally only use Electrum. But you don't really need storage to use it. You may, instead, run "electrum" from the terminal to bypass the wrapper (which requires storage). Then you may create a temporary wallet in the virtual filesystem using the private key you already have.

[2018-03-28 05:29] estevaocm commented on #68
Interesting. I've seen, but not used, similar programs. And the rationale is related to #26. Will look into it when I have time.

[2018-03-28 21:00] quantumproducer commented on #67
Oh thanks, I didn't realize command line Electrum was an option!
Looks like http://docs.electrum.org/en/latest/coldstorage_cmdline.html is how to do that. I will try

[2018-03-28 22:36] quantumproducer commented on #67
@estevaocm so it looks like that is an option.. I need to read more about how `electrum importprivkey` works.

By the way, this might be a seperate issue -- I tried running Electrum and creating a new wallet importing from a key it says "Type a list of addresses or list of private keys"

If I type the address shown by a couple of the offline web tools, I get a watching only wallet.

IIf I got back

[2018-03-28 22:40] quantumproducer commented on #67
Ah, hm. https://bitcointalk.org/index.php?topic=1970345.0
"There is no import function in Electrum anymore, only sweeping"
Hm. I was hoping to

[2018-03-28 23:15] quantumproducer commented on #67
@estevaocm `electrum listaddresses` gives an error:  ~"can't use cmdline_run "

I figured out the private key Electrum wants is a WIF, derived from the hex. So I use one of the offline tools to get a WIF. I enter that into Electrum. It shows 1 Receiving address, which matches what I have previously generated.

So far so good.

Now I import another Electrum wallet with funds. I enter the new Receiv

[2018-03-29 00:03] quantumproducer commented on #67
I see now, you have to create watching address with Electrum on online computer or another tool to get the inputs. Sorry for the bogus issue!

[2018-03-29 00:03] #67 closed, assigned to nobody

[2018-03-29 00:12] estevaocm commented on #67
Glad to help. Good for you for figuring it out yourself from a few tips.

[2018-03-30 19:12] estevaocm opened #69 "Add Base43 converter"
Electrum-LTC has no mobile app to scan a QR Code for a signed transaction. A generic scanner may be used and the content sent to a PC with Electrum-LTC, but the transaction is encoded as Base43 and strangely this is not accepted content for loading a transaction as text. Therefore the content must be decoded with a tool such as https://github.com/jacoblyles/base43js and then loaded in Electrum-LTC

[2018-03-30 19:14] estevaocm opened #70 "Electron-Cash fails to load transactions"
ElectronCash 3.1.2 is failing to load transactions: by file, by text and by QR Code. No error is given, nothing happens. This makes it impossible to sign transactions within Bitkey cold-offline mode.

[2018-04-04 11:02] aghamir commented on #65
Also omniwallet offline transaction works with Armory.

[2018-04-09 15:38] aghamir opened #72 "Add qr code for file transfer"
Sometimes I cannot send large data via normal qr code and webcam. [This repo](https://github.com/anderson-/Eye-Fi) writes method that chunk the large data and send it as stream. Can you look at it and add it to bitkey?
Thanks

[2018-04-09 19:31] romanz commented on #72
I would like to suggest using an audio MODEM for this task: https://github.com/romanz/amodem.
It's written in Python and uses audible frequencies (so you would hear the actual data transmission).

[2018-04-11 23:42] quantumproducer commented on #65
Potential PR: https://github.com/bitkey/bitkey/pull/71

[2018-04-13 20:03] estevaocm commented on #65
PR accepted. I will release a new binary as soon as I am able to test this new version and update other packages such as Electrum.

[2018-04-13 20:03] #65 closed, assigned to nobody

[2018-04-15 20:31] #69 closed, assigned to nobody

[2018-04-15 22:14] estevaocm commented on #70
See also #59

[2018-04-16 01:56] estevaocm commented on #59
Tried installing Python3.6.5 in Bitkey still at Jessie version. Failed while building:
![virtualbox_turnkey tkldev_15_04_2018_22_55_01](https://user-images.githubusercontent.com/4247545/38786730-1f67ad46-4100-11e8-86e6-92c7e5efad3b.png)

[2018-04-16 03:44] estevaocm commented on #59
Tried building Python 3.6.5, but the resulting ISO file somehow was going to be enormous and didn't reach 1% after almost an hour, so I aborted. Not sure what's going on. Might look into building with minimal dependencies some other day.

[2018-04-16 06:25] JedMeister opened #73 "Will need to use common v14.x branch until BitKey buildcode is updated to run on Stretch"
Hey @estevaocm - I hope things have been going ok for you. Apologies that I haven't been very active over here lately. I've been a bit swamped and trying to keep the very overdue v15.0 on track...

This is mostly a heads up for you re building future v14.x based BitKey releases (until we can build on Stretch, hopefully that should be really soon). I'm getting really close now to (finally) releasin

[2018-04-18 02:26] JedMeister opened #74 "Developing BitKey v15.0"
This was originally posted on #73 a couple of days ago. I've moved it here to separate the 2 issues.

Unfortunately, the below is not working as I suggested it might, but I've added more info further down; as a [comment](https://github.com/bitkey/bitkey/issues/74#issuecomment-382227732).

----

I have just uploaded `luks` and `theme-zukitwo` pacakges to my dev-test repo. They are the 2 packages yo

[2018-04-18 02:26] JedMeister commented on #74
FWIW, the v15.0 build instructions I posted above won't work currently... :cry:

@qq7 had a quick look and as BitKey builds using the `turnkey-desktop.mk` file (rather than the `turnkey.mk` file) it never gets the `DEV_TEST=y` environment variable, so doesn't add my dev-test repo, so will still choke on the 2 packages (`luks` & `theme-zukitwo`) missing from the official TurnKey repo...

Sorry abou

[2018-04-18 22:54] estevaocm commented on #74
Thanks for the updates. I'll probably not be able to look into this before next week.

[2018-04-19 03:02] quantumproducer opened #75 "SHASUM for latest release is mising"
Latest community release is missing SHASUM line in community releases page.

[label: documentation]

[2018-04-19 03:39] JedMeister commented on #74
No worries @estevaocm - no rush on this. It's was more of a heads up and info if/when you feel like having a look (unless someone beats you to it).

Whatever you do though, please **DO NOT** release any ISOs that are built with `DEV_TEST=y`! My personal repo is only for development and testing. It shouldn't contain anything malicious and should generally be safe and ok and would likely even be ok

[2018-04-19 04:11] estevaocm commented on #75
Sorry, fixed.

[2018-04-19 04:11] #75 closed, assigned to nobody

[2018-04-24 00:38] JedMeister commented on #73
@estevaocm - I have now (as of last night my time) merged the stretch updates into the `master` branch of common. So next time you build, you'll need to checkout the `v14.x` branch of common (as noted above).

[2018-06-12 18:16] QuantBox723 commented on #31
I've the same problem with my Surface Pro, which has UEFI Bios. The temporary solution inspired by the following discussion [https://askubuntu.com/questions/395879/how-to-create-uefi-only-bootable-usb-live-media?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa](url), which worked for me, is:
(1) create a bootable Ubuntu installation USB stick and try if it boots (I used Ubu

[2018-06-18 11:32] dalitsairio opened #76 "Adding coinglacier.org to BitKey"
Coinglacier.org aims to do the same like bitaddress.org, but in comparison to bitaddress.org it is still continuously being developed and supports newer features like (native) segwit addresses or HD wallets.

The software is open source and announced on [bitcointalk](https://bitcointalk.org/index.php?topic=4461152).
The source code is on [Github](https://github.com/dalitsairio/coinglacier.org).

J

[2018-06-20 08:59] udirom opened #77 "Adding Trezor support"
Hi, it would be wonderful if you are able to add Trezor/Ledger support to Bitkey community edition.
You can enjoy both worlds and have extra layer of security, air gap hardware wallet.

[2018-06-21 01:48] estevaocm commented on #77
Hello,

Unfortunately, we don't have those hardware. In theory, Electrum should work with them, but I'm not aware of any additional required dependencies.

[2018-06-21 01:50] estevaocm commented on #76
Thank you for your suggestion. We will evaluate the software for addition. However, this may take a while while we update our development tools for the latest Turnkey version.

[2018-06-21 15:03] dalitsairio commented on #76
Understandably so! In the meantime I'll be happy to answer any possible questions.

[2018-06-22 06:28] romanz commented on #77
Electrum requires [trezor](https://pypi.org/project/trezor/) and [btchip-python](https://pypi.org/project/btchip-python/) packages for TREZOR and Ledger support, respectively.
May I send a PR for adding them?

[2018-06-23 02:10] estevaocm commented on #77
Feel free to submit your PR. I can't give a time frame but when we can we'll evaluate for approval.

[2018-06-25 11:22] udirom opened #78 "Bitkey doesn't work with tkldev v15"
This is important since a lot of new devices need drivers present only in newer linux kernel v14.x.x
tkldev V14.2 steel works with jessie v13 older kernel.

[2018-06-26 01:31] estevaocm commented on #78
Please direct any version update considerations to https://github.com/bitkey/bitkey/issues/74

[2018-06-26 01:31] #78 closed, assigned to nobody

[2018-07-20 14:33] techboss opened #80 "Bus Error when launching apps"
I just did a build of the latest community branch and can't start Electrum (or most other apps for that matter) from the launch bar on an air-gapped Dell Latitude laptop.  When I start Electrum from the command line with verbose mode switch I see it roll through trying to contact a few hosts and then terminate with a "Bus error" message.  I am able to launch the Electrum daemon (no GUI) from the c

[2018-07-20 21:20] estevaocm commented on #80
If you built it yourself, the problem may be that Turnkey has been upgraded but Bitkey hasn't adjusted yet. Does the latest pre-built ISO fail as well?

[2018-07-20 22:40] techboss commented on #80
I tested my build on a different laptop today (HP) and got the same "Bus Error" message so I don't think it's hardware.  I'll test the latest pre-built ISO this weekend.

[2018-07-20 22:48] techboss commented on #80
I just downloaded the pre-built ISO and it's the same as the one I already had (turnkey-bitkey-14.2.0-jessie-amd64.iso) which worked fine except that Electrum 2.9.4 has a known bug and gets stuck syncronizing.  What version of Turnkey should I use to build the latest Community branch?

[2018-07-21 06:31] estevaocm commented on #80
I'd suggest you try this version first: https://github.com/bitkey/bitkey/releases/latest

Upgrading Bitkey is discussed in https://github.com/bitkey/bitkey/issues/74 and https://github.com/bitkey/bitkey/issues/73

[2018-07-21 16:28] techboss commented on #80
Thanks - much appreciated.  I've got some cycles to spare, like the project and want to contribute.  Where's a good place to start?

[2018-07-21 22:01] estevaocm commented on #80
Right now my development workspace is on hold until I figure out the Turnkey upgrade, but I haven't had dedicated time for that lately. As @JedMeister explains in those issues I mentioned, there are a number of package and build adjustments to get Bitkey to run on Turnkey 15. Any help at that front could get me back on track sooner. If you want to give it a try, you might log your progress in the

[2018-07-22 17:15] techboss commented on #80
@estevaocm thanks for the pointers - I got the community build to work.

[2018-07-22 17:15] #80 closed, assigned to nobody

[2018-07-23 17:53] vitork opened #81 "Electrum fails to load transactions"
Electrum v3.1.2 is failing to load transactions created by Electrum v3.2.2 on an online machine. Similar to #70, this makes it impossible to sign transactions within Bitkey cold-offline mode.

I've played around here and found out that the solution would be to update Electrum to the latest version v3.2.2 on BitKey. I'll attach a PR to this fix in a few moments.

[2018-07-24 02:59] estevaocm commented on #74
Apologies for the delay, but I've finally came around to set up my TKLDev for Stretch. I've found that bitkey also misses the package "usbmount".

Now, as I understand it, Turnkey has its own repository to download Debian packages, but those three packages are not included. So you made a development repo to work around this temporarily. But this is not to be used in a published ISO. Then it seems

[2018-07-24 03:06] estevaocm commented on #74
So my first step would be to identify exactly what is depending on those packages and remove it from the build plan. Then I suppose I would fetch those packages' sources and build manually with conf.d. Do you agree, @JedMeister ? Or is there a better way do go about this fix?

[2018-07-24 06:02] JedMeister commented on #74
@estevaocm

No problem at all. In case you haven't noticed, we've recently published the ISO of TKLDev v15.0 (link is on the [TKLDev page](https://www.turnkeylinux.org/tkldev)). Having said that, if you already have it working on v14.x TKLDev, then there is no real need to update.

Hmm, it looks like the package is no longer in Debian :cry:

My first inclination is to just skip it for now, but I'm

[2018-07-24 06:06] JedMeister commented on #74
PS if the install of those packages fails (and `apt-get install -f` doesn't fix it) then please share the full error message. If they do install, but you get some funky errors elsewhere, please share as much as you can and I'll do my best to help head you in the right direction.

[2018-07-24 07:03] estevaocm commented on #74
Thanks for the thorough overview, @JedMeister. I gave the build a shot without those dependencies and it seemed like it would at least complete building but ran into some Python problems, specific to Bitkey apps. The good news to this is that compiling those dependencies after the main build--as is already done with a few apps (and as your example)--will probably work.

I did try to install over v

[2018-10-13 23:58] estevaocm commented on #74
Good news. This has been a very busy year for me, but I've finally got around to successfully building Bitkey for debian-stretch. The build is still in progress and still to be tested, but at least I'm past the building problems.

[2018-10-14 00:00] estevaocm commented on #74
If all goes well, I'll be able to keep the regular updates as before. I just hadn't been able to dedicate myself to fixing the build problems.

[2018-10-14 00:10] estevaocm commented on #74
@JedMeister, I'm getting a Turnkey first boot configuration in Bitkey, and then a loop of inithooks. Can you offer a clue for what went wrong?

[2018-10-14 00:12] estevaocm commented on #74
This is my stretch branch: https://github.com/estevaocm/bitkey/tree/stretch

[2018-10-15 22:42] JedMeister commented on #74
Hi @estevaocm - Apologies on slow response... I'll have a look and get back to you ASAP.

[2018-10-17 15:01] LF76 opened #83 "[Enhancement] Allowing SD Cards on Bitkey"
Not quite an issue, but more like an enhancement. Besides USB drives, could the newest Bitkey version also recognize/mount SD Cards?

I have some old SDs from cameras, which I don't use anymore, but could be used to store the wallet.

With 'sudo fdisk -l' I could list and then mount the SD card. The electrum-wrapper won't recognise them (as they are not USB), but I think perhaps it's not hard to e

[2018-10-18 04:30] JedMeister commented on #74
FWIW, I've managed to reproduce the issue, but unfortunately, I haven't got any further than that yet... I'll  try to spend a bit more time on it today.

[2018-10-19 02:29] estevaocm commented on #74
Thanks a lot, @JedMeister . You're more experienced with Turnkey than me, so I hope you can find any pointers for me to work with as well.

[2018-11-03 20:48] nextgenthemes opened #84 "Electrum fails to load transactions"
I am aware there is another issue but I actually DO get a error message while trying to load from file or text.

`unable to deserialize the transaction: unpack_from requires a buffer of at least 4 bytes`

[2018-11-07 23:08] brincobt commented on #84
In Bitkey Electrum should be upgraded to  v3.2.3
Cold offline mode is unable to sign transactions created from Electrum v3.2.2 and up.

[2018-11-08 13:44] tuberculo commented on #84
Is there an open issue about that in Electrum Github?

[2018-11-08 18:42] LF76 commented on #84
It's because of this upgrade: https://github.com/spesmilo/electrum/blob/3.2.2/RELEASE-NOTES#L30-L34

 * The partial transaction format has been incompatibly changed. This
   was needed as for partial transactions the scriptSig/witness has to
   be parsed, but for signed transactions we did not want to do the
   parsing.  Users should make sure that all instances of Electrum
   they use to co-sign

[2018-11-08 23:01] estevaocm commented on #84
Sorry, I'm currently held back by the Debian-stretch upgrade. Haven't been successful so far. I'll see if the jesse builds are still possible for these application updates when I have time.

[2018-11-08 23:04] estevaocm commented on #83
Unfortunately we are not able at this time to carry that option out. Maybe after the Debian-stretch migration succeeds and everything gets updated we could come back to this or accept a pull request.

[2018-11-08 23:06] estevaocm commented on #81
Thank you for your PR, unfortunately my build environment is messed up by the Debian-stretch upgrade attempt and I won't be able to test the merge and build an ISO right now. I'll get back to this as soon as I can.

[2018-11-08 23:12] JedMeister commented on #84
**[OT]** @estevaocm - apologies on the hold up on my end... I've had a little bit more of a look but still can't work out what is going on. I'll probably need to a serial connection so I can see what is actually going wrong at boot... And I've been pretty snowed under with other stuff. But I'll aim to have more of a look early next week.

[2018-11-13 12:35] LF76 commented on #84
As a quick workaround, you can keep the latest Electrum v3.2.3 installed, and use the portable v3.1.3 version from https://download.electrum.org/3.1.3/ in a separate folder (with the Xpub (read-only mode)). Then use this version to generate the transaction, and sign it in Bitkey (in the cold-offline mode).

[2018-11-13 16:44] nextgenthemes commented on #84
Where there not important security fixes? I really do not feel comfortable downgrading. Really disappointed the wallet is not just updated in the community iso. I think there is already a RP for this.

I guess its possible to download the latest (to a separate or shuttle USB) and replace/use it on the booted outdated iso. I would rather do that instead of downgrading.

[2018-11-13 20:58] estevaocm commented on #84
@nextgenthemes, all work here is voluntary. This is an open source project, so feel free to fork and build your own ISO if the provided one is not up to your expectations. As explained, we are in the process of upgrading the Debian OS and don't have the manpower to tackle each and every user issue. And you could easily insert any version of Electrum or any other wallet you'd like to use by USB. Th

[2018-11-13 21:06] nextgenthemes commented on #84
Well this is not "each and every user issue" its a pretty severe issue makes the very base function of this totally unusable. I have read that you messed up your build env so there is nobody who can build the ISO based on the PR and release it? Why does the big Debian update have to come first if this totally breaks everything?

[2018-11-13 22:40] estevaocm commented on #84
Nothing is unusable. This is a cold wallet. It is designed to be secure. The supported Electrum version is declared in the release notes. If you want to use another version, either do the work yourself or wait until a new build is ready.

[2018-11-13 22:47] estevaocm commented on #84
BTW, by reading Electrum's release notes, the newer versions are mostly feature releases, not security fixes.

[2018-11-14 01:49] OnGle commented on #74
Alright @estevaocm, I've spent the last few days playing around with bitkey. I was not able to reproduce your specific issue however I did find inithooks to be troublesome. I don't yet have a working branch to push but I do have some information to report and some assumptions I would appreciate clarity on.

What I experienced using bitkey-stretch iso built from your stretch branch
1. syslinux boot

[2018-11-14 21:16] estevaocm commented on #74
Thank you for your contributions, @OnGle!

To be honest, I don't much know how to help in the points you bring up. Bitkey was already built when I came along, I've simply been updating and customizing the user applications. Which is why I haven't progressed much since Turnkey upgraded to stretch. I guess we'll have to go learning as we move forward.

Have you ran one of the jessie ISOs as a refere

[2018-11-15 20:40] estevaocm commented on #84
There is yet another problem. The newer releases of Electrum and its derivatives requires Python3, which is not available in Debian Jessie repositories. So either it has to be manually installed on Jessie, which is not as straightforward as it sounds, or ideally Bitkey would be upgraded to Debian Stretch and Python3 installed by its repositories. Both options have been taking a lot of time.

[2018-11-15 20:50] estevaocm commented on #73
In actual fact, my Jessie build system is still working normally despite all those updates. But I'm avoiding getting the appliance updates to not mess it up.

So I can in fact keep updating Bitkey 14. The only problem for this right now is that the newer crypto wallets require Python3, which I'm struggling to properly install in Bitkey. However, I think this will be more productive right now than

[2018-11-19 03:28] OnGle commented on #74
Not to worry, I'm actually with Turnkey and worked on the stretch upgrade, I'm here to help get Bitkey updated to stretch. Cheers for keeping bitkey alive btw!

Re jessie ISOs, I hadn't but I have now. It mostly seems as I expected, but confirming assumptions is still of value. As far as I can tell the build process is very similar to TKLs build process, although the difference in packages and con

[2018-11-20 02:28] OnGle commented on #74
@estevaocm Ok I believe I have fixed this issue, a [pull request](https://github.com/estevaocm/bitkey/pull/38) is available to your personal stretch branch as that's the branch I built off.

The issue was as follows. On boot after the boot selection screen `/etc/rc.local` runs `startx` as the `user` user using `su`. In stretch xinit/xserver and introduced a regression: you can only start x if you

[2018-11-20 05:31] estevaocm commented on #74
Outstanding, @OnGle! Thank you very much. I'll get back to you as soon as I'm able to test your commits.

[2018-11-20 06:11] JedMeister commented on #74
Great work @OnGle. @estevaocm please let me know if you need anything further from me.

[2018-11-21 01:26] OnGle commented on #74
No worries at all mate, happy to help :)

[2018-12-04 20:54] JedMeister opened #85 "Wasabi wallet"
A user has emailed in a feature request to include [Wasabi wallet](https://wasabiwallet.io/) in BitKey. Whilst it looks pretty good on face value, I don't know anything about it, just passing on the request...

[2018-12-18 04:38] estevaocm commented on #74
Ok, sorry for the delay, my local git got messed up pretty bad between many branches and repositories, but I've finally built a working binary for Bitkey 15/Stretch. Got some testing to do, some issues with Electrum and Electrum Dash, but I should be able to make a new release pretty soon. Thanks again to all contributors.

[2018-12-18 04:44] estevaocm commented on #74
Well, USB is not working. This is troubling. Bitkey is almost useless without USB.

[2018-12-18 04:45] estevaocm commented on #74
Shutdown button also is not working...

[2018-12-18 05:49] estevaocm commented on #74
Fixed Electrum, but Dash throws "cannot import x11_hash".
Also LTC is not recognizing the scrypt package I've included in the system build.

[2018-12-18 06:02] estevaocm commented on #74
Should soon finish uploading a new binary at https://github.com/estevaocm/bitkey/releases/15.0.0-alpha-stretch-community for the anxious. Still no USB or Dash.

[2018-12-18 19:46] JedMeister commented on #74
Hi @estevaocm - I think on Debian Stretch, the package that you need for automounting USB is called [udisks2](https://packages.debian.org/stretch/udisks2). Hopefully if you add that to the plan, it will "just work"?!

Re the "cannot import x11_hash" that sounds like it may be a missing dependency. A quick google suggests that Dash is python. So perhaps it just needs the [x11-hash](https://pypi.org

[2018-12-18 23:15] estevaocm commented on #74
Hey @JedMeister! I did include udisks2 as per your suggestion months ago but it did not work out of the box. I'll have to look into it with more time.

You're exactly right about x11, I just commented to king of keep a running log of what needs to be done.

Good idea about shutting down by the terminal, I'll give that a try.

[2018-12-18 23:16] estevaocm commented on #74
I've also noticed that although I included the scrypt package, Electrum-LTC fails to identify it and gives a warning. Probably needs some Python dependency as well.

[2018-12-18 23:29] estevaocm commented on #74
Apparently, the "shutdown" command now must be "shutdown now".

[2018-12-18 23:33] estevaocm commented on #74
Actually, the command that should have run was sudo halt, which works in the terminal:

`#!/bin/bash -e`

`TEXT="This session is non-persistent. Any data not saved to an external USB device will be lost. Are you sure you want to shutdown?"`

`zenity \`

`    --title "System Shutdown" \`

`    --ok-label="Yes, shutdown" \`

`    --cancel-label="Cancel" \`

`    --question --text "$TEXT"`

`[ "$?" =

[2018-12-19 00:31] JedMeister commented on #74
@estevaocm Sounds like you're having some solid progress mate. Sorry I can't currently be of any practical assistance.

Oops, sorry about repeating myself re `udisk2`. I forgot that I had already mentioned that... I wonder if it needs some additional config? AFAIK it leverages SystemD (the init system) to do the actual mounting.

Re the shutdown. IIRC `halt` used to power down the system, but now

[2018-12-19 02:33] estevaocm commented on #74
Apparently, automount for udisk2 must be manually enabled: https://docs.ubuntu.com/core/en/stacks/disk/udisks2/docs/reference/snap-configuration/automount

[2018-12-19 06:52] JedMeister commented on #74
I think that is just for the Ubuntu "snap" (alternate package format provided by Ubuntu). After having a little bit more of a read, it seems that the udisks2 package on it's own is not intended to automount USBs, just to make it "easy" to mount removable drives.

Apparently by default, the Desktop File Managers actually handle the automounting!? At least that seems to be the case with Nautilaus (i

[2018-12-19 23:04] LF76 commented on #74
Maybe you tried it already, but for me, in Ubuntu, the Electrum LTC worked (without any more warnings) when I installed the scrypt v0.8.6 with pip: https://pypi.org/project/scrypt/
[code]

And thanks a lot for the updated build, it's a ton of work and we really appreciate the effort!

[2018-12-20 02:37] estevaocm commented on #74
Not at all, @JedMeister, I love that you gave me many options to try out, that is very helpful.

Bitkey is using Thunar, but I personally prefer PCManFM. If it is more compatible with the build in general, all the merrier!

@LF76, I take your appreciation kindly. I probably won't be able to use that exact command since I have to build inside the Turnkey environment that prepares the ISO. So I'll h

[2018-12-21 01:01] JedMeister commented on #74
@estevaocm - Ah I missed that it was using Thunar. IIRC that's the default file manager for XFCE. I'm not a big fan of it either TBH. I'm not really sure why Alon/Liraz chose to use that (as I said PCManFM is default for LXDE). I see no reason why it couldn't use a different file manager, especially if it works better! :smile:

[2019-01-03 17:32] NobitexCoin opened #86 "Ethereum MEW update"
Is it necessary upgrading MEW to support hard fork? Is signing the same as before?

[2019-01-03 23:46] estevaocm commented on #86
Which hard fork are you referring to?

The plan is to switch from MEW to MyCrypto, when the Debian-Stretch release becomes ready.

[2019-01-04 16:04] NobitexCoin commented on #86
Thanks a lot.
Constantinople.
I will close this for now.

[2019-01-04 16:05] #86 closed, assigned to nobody

[2019-02-10 07:44] aghamir opened #87 "Electrum v3.3.3"
Hi,
I know you are busy to build bitkey on debian/stretch. However, is it possible now to upgrade electrum? The client(online one) cannot be in lower version due to security issue(phishing).

[2019-02-10 23:45] estevaocm commented on #87
Thank you for your request. There should be no risk of phishing as long as you don't agree to install a new software, which you should never do within Bitkey and probably wouldn't have permission anyway.

[2019-02-11 00:48] aghamir commented on #87
Of course there isn't any thread for bitkey in this issue. However, electrum client in online computer is forced to update due to this issue(electrum does). So, making transaction with updated client is not possible by this state.
I understand it's too hard to update electrum at this moment due to debian-stretch update and I will appreciated it. Probably I will use PR #82 to update electrum.

[2019-02-13 00:18] estevaocm commented on #87
I see. The stretch release was supposed to be ready by this point, but a critical dependency is missing in the repos and we're still trying to get alternatives to work. Currently I have no setup for the jessie version, otherwise I could provide an update within an hour.

[2019-02-16 20:58] QuantBox723 opened #88 "Failed to build Bitkey from source, VMware + turnkey-tkldev-14.2-jessie-amd64"
Trying to build from sources using VMware + turnkey-tkldev-14.2-jessie-amd64:

ssh tkldev
cd products
git-clone --depth 1 https://github.com/bitkey/bitkey
cd bitkey
make

At the end the build process is stopped at the following error message:

[...]
 extracting: /usr/local/share/electrum-dash/packages/x11_hash-1.4.egg-info/top_level.txt
  inflating: /usr/local/share/electrum-dash/packages/x11_hash

[2019-02-17 02:49] estevaocm commented on #88
I'm not sure it is still possible to build the Jessie version due to Turnkey having been migrated to Stretch. @JedMeister probably can clarify. I have began migrating Bitkey to Stretch but haven't got around the USB support. You may verify this version at https://github.com/estevaocm/bitkey/tree/stretch

[2019-03-07 08:25] estevaocm commented on #87
Unfortunately, everything seems to be working against Bitkey. Electrum development is moving fast and Bitkey is not keeping up. The current Electrum version "requires Python version >= 3.6.1". This version is not available in the Turnkey Debian Jessie and Stretch repositories so it will have to be installed manually in Bitkey, which is not as simple as it seemed at first. I was close to achieving

[2019-03-08 05:50] estevaocm commented on #87
Good news, I got Python 3.7.2 to work in Bitkey and now the latest Electrum, Electrum-LTC and Electron-Cash run succesfully. Although I haven't yet tested operating wallets on them, and I had to disable keepassxc in order to achieve this build. USB is still not working.

[2019-03-08 05:59] estevaocm commented on #87
I am uploading the ISO for this alpha build at https://github.com/estevaocm/bitkey/releases/tag/15.0.0-stretch-alpha2-community

Known issues are documented at the release page. Should at least allow minimal use for now.

[2019-03-08 05:59] #87 closed, assigned to estevaocm

[2019-03-08 06:01] #88 closed, assigned to estevaocm

[2019-03-08 06:02] estevaocm commented on #84
I am uploading an alpha version of Bitkey Stretch with the latest Electrum at https://github.com/estevaocm/bitkey/releases/tag/15.0.0-stretch-alpha2-community

Further Bitkey 15 development is still required to restore the full original functionality.

[2019-03-08 06:03] #84 closed, assigned to estevaocm

[2019-03-08 06:04] estevaocm commented on #81
You may try the alpha build at https://github.com/estevaocm/bitkey/releases/tag/15.0.0-stretch-alpha2-community

There are issues, development is ongoing.

[2019-03-08 06:04] #81 closed, assigned to estevaocm

[2019-03-08 06:06] estevaocm commented on #74
I've managed to install Python 3.7.2 in order to support the latest Electrum versions (except for DASH that still refuses to work). Still no USB support, and the shutdown button is not working. Had to disable keepassxc for dependency conflicts I'll have to get around later.

[2019-03-08 06:06] estevaocm commented on #74
BTW, I'm still working on the branch at https://github.com/estevaocm/bitkey/tree/stretch

[2019-03-19 19:19] docbassment commented on #85
agree that wasabi wallet would be a great addition to the image. one of the best privacy wallets out there right now

[2019-03-26 03:04] JedMeister commented on #74
Hi @estevaocm - apologies that I haven't dropped in lately and haven't been of much assistance really... If there is anything you need from me, or that I can help with, please feel free to ask.

I can't guarantee that I will be able to solve it all, but I'd love to see an updated version of BitKey released.

Unfortunately, the reality is that it won't be long until Debian Buster/10 is released and

[2019-03-26 04:50] estevaocm commented on #74
Hey @JedMeister. I'm having trouble setting up USB to auto-mount. Since the build takes a long time (what with all those wallets and the Python build), I'll probably have to try a stripped-down build just to try to get this part right in a reasonable cycle. However, I haven't had the necessary time for this kind of experimentation, and nothing straightforward seems to work. Usbmount just worked by

[2019-03-26 06:39] JedMeister commented on #74
Hi @estevaocm - what a pain... :sob:

Perhaps it's worth playing with a BitKey ISO in a VM (e.g. VirtualBox)? Although it could be just another rabbit hole... Google found [this page](https://dzone.com/articles/how-to-mount-usb-drives-on-virtualbox) which appears to cover it. It looks like you'll need to install the Guest-Addons first. Please note I haven't tries it so can't really comment.

Alter

[2019-03-26 18:44] estevaocm commented on #74
Wow, I hope all it takes is to fix those Thunar dependencies, that would be a massive relief. Nice suggestions, I'll check them out when I can.

I always test within VirtualBox, but what I don't know is if installing updates and scripts will work in the same user session. I've always expected the new stuff to only work after a reboot, which seems impossible in Bitkey from ISO, or is it? Does this

[2019-03-26 20:10] JedMeister commented on #74
Ah ok, sorry for the somewhat useless suggestion then... :smile:

TBH, you raise a good point. I'm much more experienced with headless servers (i.e. "normal" TurnKey builds) and/or "normal" Linux installs (e.g. my work laptop and my personal desktop). Neither of which are "live" sessions. So I may be making assumptions that don't apply to BitKey...

Regardless, in theory, these changes should only

[2019-06-24 08:40] glenavery opened #89 "Make does not work anymore"
I created a new TKLDEV image and successfully run a build of core on it. When I tried to make bitkey however I get the following errors. I am a beginner at this so any help is appreciated. I would like to update Electrum as the current version in bitkey is too old and no longer works.

root@tkldev ~/products/bitkey# make
if ! deck --isdeck build/root.build; then deck build/bootstrap build/root.bui

[2019-06-25 01:49] estevaocm commented on #89
This version works: https://github.com/estevaocm/bitkey/

But there are still several pending issues from migration to debian stretch.

[2019-06-25 13:49] tuberculo commented on #89
Hi @estevaocm. What are the issues in that version? Does it work to sign transactions from current electrum version?

[2019-06-26 04:24] estevaocm commented on #89
Hello @tuberculo. The complete release notes are at https://github.com/estevaocm/bitkey/releases/tag/15.0.0-alpha-stretch-community along with a binary.

[2019-06-26 04:30] estevaocm commented on #59
This version is working with Python 3.7.2: https://github.com/estevaocm/bitkey/tree/stretch

[2019-06-26 04:31] estevaocm commented on #89
It seems the tag was applied to the wrong branch. The latest source could should be this branch: https://github.com/estevaocm/bitkey/tree/stretch

[2019-06-26 04:33] estevaocm commented on #89
This issue is tracked here: https://github.com/bitkey/bitkey/issues/74

[2019-06-26 04:33] #89 closed, assigned to nobody

[2019-07-15 00:31] tuberculo commented on #74
Hi, @estevaocm.
I've asked about this on #89, but the answer wasn't very clear to me. One of the issues of the latest Bitkey release is "USB fails to mount". So, does this mean that it is no possible to sign bitcoin transactions?
As I can see, the older release cannot sign transactions either, as the Electrum version is obsolete.
So are we in a moment that there is no working version able to sign

[2019-07-15 17:07] estevaocm commented on #74
@tuberculo,

The recommended way to sign offline transactions in Bitkey is using QR codes, not USB, because using USB could expose the private key to malware originating from the online system. Electrum can generate a QR code for the signable transaction (including in your mobile phone), which can be read by the online system through a webcam, and then the signed transaction can be represented as

[2019-07-15 17:21] estevaocm commented on #74
BTW, the Electrum shortcut in Bitkey runs a wrapper that depends on USB and will not work. To run Electrum and re-create the wallet locally, type electrum in the terminal. The file system is virtual, residing on RAM, so the wallet will not get recorded on the local HDD and should be safe.

[2019-10-31 07:53] 2pac1 commented on #85
+1 for wasabi wallet.

[2019-11-23 18:09] vstoykovbg commented on #26
Some suggestions:

1) Use haveged. I tested `turnkey-bitkey-14.2.0-jessie-amd64.iso` and there is no haveged installed there.

2) Wire a random noise source to the sound card's microphone input and use it as an entropy source.

Example:

[code]
This will **not** increase the entropy counter, but this is not a problem, since we have haveged running. Increasing the entropy counter is needed because

[2020-05-21 22:05] tuberculo commented on #74
Hi, @JedMeister @estevaocm . Is the project abandoned?

[2020-05-21 22:17] estevaocm commented on #74
Hi @tuberculo, unfortunately, I haven't had the time necessary to solve all the problems that came with the updated OS, which quite frankly are beyond my experience. I would be thrilled if someone could solve those problems so I could come back to maintaining the apps within Bitkey. The truth is it became too demanding and I had other personal priorities.

[2020-05-22 21:48] tuberculo commented on #74
That is a pity. But thank you for your contributions.

[2021-01-17 13:43] FetchFast commented on #31
Wish someone would run dd to make an image of this and drop it onto Mega. I can't write to the sdcard because I don't have an extfs driver :-(